<md-content class="ui-view" flex md-scroll-y>
    <md-tabs md-stretch-tabs md-dynamic-height md-border-bottom md-selected="0">
        <md-tab label="Añadir">
            <md-content class="md-padding">
                <div class="card">
                    <form>
                        <md-toolbar class="md-theme-light md-hue-2">
                            <div class="md-toolbar-tools md-hue-2  md-toolbar-header">
                                <h2 class="md-toolbar-tools">
                                    <span>Caraterísticas principales</span>
                                </h2>
                            </div>
                        </md-toolbar>
                        <md-content class="card-content" layout="row" layout-xs="column" layout-wrap>
                            <div flex="50" flex-xs="100">
                                <md-input-container class="md-block form-input">
                                    <label>Nombre</label>
                                    <input ng-model="newScope.name" type="text" required>
                                </md-input-container>
                            </div>
                            <div flex="50" flex-xs="100">
                                <md-input-container class="md-block form-input">
                                    <label>Versión</label>
                                    <input ng-model="newScope.version" type="text" disabled>
                                </md-input-container>
                            </div>
                            <div flex="100" flex-gt-sm="50">
                                <md-input-container class="md-block form-input">
                                    <label>Definición</label>
                                    <textarea ng-model="newScope.definition"/>
                                </md-input-container>
                            </div>
                        </md-content>
                        <md-divider class="md-default-theme" style="margin: 0.6em 1em 0.6em 2em;"></md-divider>
                        <md-card-actions class="card-action-layout" layout="row" layout-align-gt-sm="end center"
                                         layout-align="center center" layout-wrap>
                            <md-button class="md-primary md-hue-1" ng-click="saveDraft()">
                                <md-icon class="material-icons">archive</md-icon>
                                Guardar borrador
                            </md-button>
                            <md-button class="md-primary md-hue-1" ng-click="saveTemporalScope()">
                                <md-icon class="material-icons">schedule</md-icon>
                                Publicar versión no final
                            </md-button>
                            <md-button class="md-primary md-hue-1" ng-click="publishScope()">
                                <md-icon class="material-icons">file_upload</md-icon>
                                Publicar versión final
                            </md-button>

                            <!--<md-fab-speed-dial md-open="false" md-direction="left" class="md-scale">-->
                            <!--<md-fab-trigger>-->
                            <!--<md-button aria-label="enviar" class="md-fab md-primary">-->
                            <!--<md-tooltip md-direction="top" md-visible="false">Enviar</md-tooltip>-->
                            <!--<md-icon class="material-icons">forward</md-icon>-->
                            <!--</md-button>-->
                            <!--</md-fab-trigger>-->
                            <!--<md-fab-actions>-->
                            <!--<md-button type="submit" ng-click="publishScope()"-->
                            <!--aria-label="Publicar versión final"-->
                            <!--class="md-fab md-raised md-mini">-->
                            <!--<md-tooltip md-direction="top" md-visible="false" md-autohide="false">-->
                            <!--Publicar versión final-->
                            <!--</md-tooltip>-->
                            <!--<md-icon class="material-icons">file_upload</md-icon>-->
                            <!--</md-button>-->
                            <!--<md-button type="submit" ng-click="saveTemporalScope()"-->
                            <!--aria-label="Publicar versión no final"-->
                            <!--class="md-fab md-raised md-mini">-->
                            <!--<md-tooltip md-direction="down" md-visible="false" md-autohide="false">-->
                            <!--Publicar versión no final-->
                            <!--</md-tooltip>-->
                            <!--<md-icon class="material-icons">schedule</md-icon>-->
                            <!--</md-button>-->
                            <!--<md-button type="submit" ng-click="saveDraft()" aria-label="Guardar borrador"-->
                            <!--class="md-fab md-raised md-mini">-->
                            <!--<md-tooltip md-direction="top" md-visible="false" md-autohide="false">-->
                            <!--Guardar borrador-->
                            <!--</md-tooltip>-->
                            <!--<md-icon class="material-icons">archive</md-icon>-->
                            <!--</md-button>-->
                            <!--</md-fab-actions>-->
                            <!--</md-fab-speed-dial>-->
                        </md-card-actions>
                    </form>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Importar">
            <md-content class="md-padding">
                <div class="card">
                    <form>
                        <md-toolbar layout="row">
                            <div class="md-toolbar-tools md-hue-2  md-toolbar-header">
                                <h2 class="md-toolbar-tools">
                                    <span>Selección del archivo de impotación</span>
                                </h2>
                            </div>
                        </md-toolbar>
                        <md-content style="padding: 1.3em;">
                            <lf-ng-md-file-input lf-files="files" lf-placeholder="Elige un archivo CSV"
                                                 lf-browse-label="Buscar" lf-remove-label="Borrar"
                                                 lf-drag-and-drop-label="Arrastra tu archivo aquí" drag
                                                 preview></lf-ng-md-file-input>
                        </md-content>
                        <md-card-actions class="card-action-layout" layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" ng-click="importFile()">Enviar</md-button>
                        </md-card-actions>
                    </form>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>