<md-content class="ui-view" flex md-scroll-y>
    <md-tabs md-stretch-tabs md-dynamic-height md-border-bottom md-selected="0">
        <md-tab label="Añadir">
            <md-content class="md-padding">
                <div class="card">
                    <form>
                        <md-toolbar class="md-theme-light md-hue-2">
                            <div class="md-toolbar-tools">
                                <h2>Caraterísticas principales</h2>
                            </div>
                        </md-toolbar>
                        <md-content class="card-content" layout="row" layout-xs="column" layout-wrap>
                            <div flex="50" flex-xs="100">
                                <md-input-container class="md-block form-input">
                                    <label>Nombre</label>
                                    <input ng-model="newTerm.mainTerm.name" type="text" required>
                                </md-input-container>
                            </div>
                            <div flex="50" flex-xs="100">
                                <md-input-container class="md-block form-input">
                                    <label>Abreviatura</label>
                                    <input ng-model="newTerm.mainTerm.shortName" type="text" required>
                                </md-input-container>
                            </div>
                            <div flex="50" flex-xs="100">
                                <md-input-container class="md-block form-input">
                                    <label>Definición</label>
                                    <textarea ng-model="newTerm.mainTerm.definition" type="text" required/>
                                </md-input-container>
                            </div>
                            <div flex="50" flex-xs="100">
                                <md-input-container class="md-block form-input">
                                    <label>Definición extendida</label>
                                    <textarea ng-model="newTerm.mainTerm.extendedDefinition" type="text"/>
                                </md-input-container>
                            </div>
                            <div flex="50" flex-xs="100">
                                <md-input-container class="md-block form-input">
                                    <label>Versión</label>
                                    <input ng-model="newTerm.mainTerm.version" type="text" disabled>
                                </md-input-container>
                            </div>
                            <div flex="50" flex-xs="100">
                                <md-input-container class="md-block form-input">
                                    <label>Tipo</label>
                                    <md-select ng-model="newTerm.mainTerm.type.type" required>
                                        <md-option ng-repeat="termType in termTypes" ng-value="{{termType.type}}">
                                            {{termType.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex="50" flex-xs="100">
                                <md-autocomplete ng-disabled="false" md-no-cache="false"
                                                 md-selected-item="selectedScopeItem"
                                                 md-search-text-change="findScopesByName()"
                                                 md-search-text="scopeQuery"
                                                 md-selected-item-change="selectedScope()"
                                                 md-items="scopeItem in scopes" md-item-text="scopeItem.name"
                                                 md-min-length="0" placeholder="Ámbito" class="form-input">
                                    <md-item-template>
                                        <span>{{scopeItem.name}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        Sin resultados. Crea uno
                                        <a ng-href="new/scopes">aquí.</a>
                                    </md-not-found>
                                </md-autocomplete>
                            </div>
                            <div flex="50" flex-xs="100">
                                <div class="form-input">
                                    <md-contact-chips ng-model="selectedCategories"
                                                      md-contacts="findCategoriesByName($query)"
                                                      md-contact-name="name" md-contact-image="" md-contact-email=""
                                                      md-require-match="true" md-highlight-flags="i"
                                                      filter-selected="true"
                                                      placeholder="Categorías" secondary-placeholder="+Categoría">
                                    </md-contact-chips>
                                </div>
                            </div>

                            <md-subheader class="md-primary" flex="100">Características adicionales</md-subheader>
                            <div flex="50" flex-xs="100">
                                <div class="form-input">
                                    <md-chips ng-model="denominations"
                                              readonly="false"
                                              placeholder="Añadir denominaciones"
                                              delete-button-label="Eliminar denominaciones"
                                              delete-hint="Presionar eliminar para borrar"
                                              secondary-placeholder="+Denominación">
                                    </md-chips>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100">
                                <div class="form-input">
                                    <md-chips ng-model="examples"
                                              readonly="false"
                                              placeholder="Añadir ejemplos"
                                              delete-button-label="Eliminar ejemplo"
                                              delete-hint="Presionar eliminar para borrar"
                                              secondary-placeholder="+Ejemplo">
                                    </md-chips>
                                </div>
                            </div>
                            <div flex="50" flex-xs="100">
                                <div class="form-input">
                                    <md-chips ng-model="exclusions"
                                              readonly="false"
                                              placeholder="Añadir exclusiones"
                                              delete-button-label="Eliminar exclusiones"
                                              delete-hint="Presionar eliminar para borrar"
                                              secondary-placeholder="+Exclusión">
                                    </md-chips>
                                </div>
                            </div>
                        </md-content>

                        <!--Común Tipo Dimension Indicador u Objetivo-->
                        <div ng-if="newTerm.mainTerm.type.type == 2 || newTerm.mainTerm.type.type == 3 || newTerm.mainTerm.type.type == 4">
                            <md-toolbar class="md-theme-light md-hue-2">
                                <div class="md-toolbar-tools" ng-if="newTerm.mainTerm.type.type == 2">
                                    <h2>Características del tipo dimensión</h2>
                                </div>
                                <div class="md-toolbar-tools" ng-if="newTerm.mainTerm.type.type == 3">
                                    <h2>Características del tipo indicador</h2>
                                </div>
                                <div class="md-toolbar-tools" ng-if="newTerm.mainTerm.type.type == 4">
                                    <h2>Características del tipo objetivo</h2>
                                </div>
                            </md-toolbar>

                            <!--Orígenes-->
                            <md-content class="card-content" layout="row" layout-xs="column" layout-wrap>
                                <md-subheader class="md-primary" flex="100">Origen operacional</md-subheader>
                                <div flex="50" flex-xs="100">
                                    <md-autocomplete ng-disabled="false" md-no-cache="false"
                                                     md-selected-item="selectedOriginItem"
                                                     md-search-text-change="findOriginByName()"
                                                     md-search-text="originQuery"
                                                     md-selected-item-change="selectedOrigin(selectedOriginItem)"
                                                     md-items="originItem in origins" md-item-text="originItem.name"
                                                     md-min-length="0" placeholder="Nombre del Origen"
                                                     class="form-input">
                                        <md-item-template>
                                            <span>{{originItem.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            Sin resultados. Crea uno
                                            <a ng-href="new/origins">aquí.</a>
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                                <div flex="50" flex-xs="100" ng-if="selectedOriginItem">
                                    <md-datepicker ng-model="newTerm.originCreation" class="form-input"
                                                   md-placeholder="Fecha de inicio">
                                    </md-datepicker>
                                </div>
                                <div flex="50" flex-xs="100">
                                    <md-input-container class="md-block form-input" ng-if="selectedOriginItem">
                                        <label>Periodicidad de actuliazación (días)</label>
                                        <input ng-model="newTerm.period" type="number" min="1">
                                    </md-input-container>
                                </div>
                                <div flex="50" flex-xs="100" ng-if="selectedOriginItem">
                                    <md-datepicker ng-model="newTerm.originUpdate" class="form-input"
                                                   md-placeholder="Última actualización">
                                    </md-datepicker>
                                </div>

                                <!--Aplicativos-->
                                <md-subheader class="md-primary" flex="100">Aplicativos analíticos</md-subheader>
                                <div flex="50" flex-xs="100">
                                    <md-autocomplete class="form-input" ng-disabled="false" md-no-cache="false"
                                                     md-selected-item="selectedApplicativeItem"
                                                     md-search-text-change="findApplicativeByName(analyticalApplicativeQuery)"
                                                     md-search-text="analyticalApplicativeQuery"
                                                     md-selected-item-change="selectedApplicative(selectedApplicativeItem)"
                                                     md-items="applicativeItem in applicatives"
                                                     md-item-text="applicativeItem.name"
                                                     md-min-length="0" placeholder="Nombre del aplicativo">
                                        <md-item-template>
                                            <span>{{applicativeItem.name}}</span>
                                        </md-item-template>
                                        <md-not-found>
                                            Sin resultados. Crea uno
                                            <a ng-href="new/origins">aquí.</a>
                                        </md-not-found>
                                    </md-autocomplete>
                                </div>
                                <div flex="50" flex-xs="100">
                                    <md-input-container class="md-block form-input" ng-if="selectedApplicativeItem">
                                        <label>Denominación del término en el aplicativo</label>
                                        <input ng-model="newTerm.applicativeDenomination" type="text">
                                    </md-input-container>
                                </div>
                            </md-content>

                            <!--Sólo tipo indicador-->
                            <md-content class="card-content" ng-if="newTerm.mainTerm.type.type == 2" layout="row"
                                        layout-xs="column"
                                        layout-wrap>
                                <md-subheader class="md-primary" flex="100">Otros datos</md-subheader>
                                <div flex="50" flex-xs="100">
                                    <md-input-container class="md-block form-input">
                                        <label>Jerarquía</label>
                                        <textarea ng-model="newTerm.hierarchy" type="text"/>
                                    </md-input-container>
                                </div>
                            </md-content>

                            <!--Sólo tipo dimensión y objetivo-->
                            <md-content class="card-content" layout="row" layout-xs="column" layout-wrap
                                        ng-if="newTerm.mainTerm.type.type == 3 || newTerm.mainTerm.type.type == 4">
                                <md-subheader class="md-primary" flex="100">Relaciones con otros términos</md-subheader>
                                <div flex="50" flex-xs="100">
                                    <div class="form-input">
                                        <md-contact-chips ng-model="selectedDimensions"
                                                          md-contacts="findTermDimensionsByName($query)"
                                                          md-contact-name="name" md-contact-image="" md-contact-email=""
                                                          md-require-match="true" md-highlight-flags="i"
                                                          filter-selected="true" placeholder="Añadir dimensiones"
                                                          secondary-placeholder="+Dimensión">
                                        </md-contact-chips>
                                    </div>
                                </div>
                                <!--Sólo tipo objetivo-->
                                <div flex="50" flex-xs="100" ng-if="newTerm.mainTerm.type.type == 4">
                                    <div class="form-input">
                                        <md-contact-chips ng-model="selectedIndicators"
                                                          md-contacts="findTermIndicatorsByName($query)"
                                                          md-contact-name="name" md-contact-image="" md-contact-email=""
                                                          md-require-match="true" md-highlight-flags="i"
                                                          filter-selected="true" placeholder="Añadir indicadores"
                                                          secondary-placeholder="+Indicador">
                                        </md-contact-chips>
                                    </div>
                                </div>
                            </md-content>

                            <!--Sólo dimensión u objetivo-->
                            <md-content class="card-content" layout="row" layout-xs="column" layout-wrap
                                        ng-if="newTerm.mainTerm.type.type == 3 || newTerm.mainTerm.type.type == 4">
                                <md-subheader class="md-primary" flex="100">Otros datos</md-subheader>
                                <div flex="50" flex-xs="100">
                                    <md-input-container class="md-block form-input">
                                        <label>Interpretación funcional</label>
                                        <textarea ng-model="newTerm.functionalInterpretation" type="text"/>
                                    </md-input-container>
                                </div>
                                <div flex="50" flex-xs="100">
                                    <md-input-container class="md-block form-input">
                                        <label>Fórmula</label>
                                        <textarea ng-model="newTerm.formula" type="text"/>
                                    </md-input-container>
                                </div>
                                <div flex="50" flex-xs="100">
                                    <md-input-container class="md-block form-input">
                                        <label>Granularidad</label>
                                        <textarea ng-model="newTerm.granularity" type="text"/>
                                    </md-input-container>
                                </div>
                            </md-content>
                        </div>

                        <!--Tipo informe-->
                        <div ng-if="newTerm.mainTerm.type.type == 5">
                            <md-toolbar class="md-theme-light md-hue-2">
                                <div class="md-toolbar-tools">
                                    <h2>Características del tipo informe</h2>
                                </div>
                            </md-toolbar>
                            <md-content class="card-content" layout="row" layout-xs="column" layout-wrap>
                                <div flex="50" flex-xs="100">
                                    <md-input-container class="md-block form-input">
                                        <label>Link al informe</label>
                                        <input ng-model="newTerm.link" type="text"/>
                                    </md-input-container>
                                </div>
                                <md-subheader class="md-primary" flex="100">Relaciones con otros términos</md-subheader>
                                <div flex="50" flex-xs="100">
                                    <div class="form-input">
                                        <md-contact-chips ng-model="selectedInformIndicators"
                                                          md-contacts="findTermIndicatorsByName($query)"
                                                          md-contact-name="name" md-contact-image="" md-contact-email=""
                                                          md-require-match="true" md-highlight-flags="i"
                                                          filter-selected="true" placeholder="Añadir indicadores"
                                                          secondary-placeholder="+Indicador">
                                        </md-contact-chips>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                        <md-divider class="md-default-theme" style="margin: 0.6em 1em 0.6em 2em;"></md-divider>
                        <md-card-actions class="card-action-layout" layout="row" layout-align-gt-sm="end center"
                                         layout-align="center center" layout-wrap>
                            <md-button class="md-primary md-hue-1" ng-click="saveDraft()">
                                <md-icon class="material-icons">archive</md-icon>
                                Guardar borrador
                            </md-button>
                            <md-button class="md-primary md-hue-1" ng-click="saveTemporalTerm()">
                                <md-icon class="material-icons">schedule</md-icon>
                                Publicar versión no final
                            </md-button>
                            <md-button class="md-primary md-hue-1" ng-click="saveFinalTerm()">
                                <md-icon class="material-icons">file_upload</md-icon>
                                Publicar versión final
                            </md-button>
                            <!--<md-fab-speed-dial md-open="false" md-direction="left" class="md-scale">-->
                            <!--<md-fab-trigger>-->
                            <!--<md-button aria-label="enviar" class="md-fab">-->
                            <!--<md-tooltip md-direction="top" md-visible="false">Enviar</md-tooltip>-->
                            <!--<md-icon class="material-icons">save</md-icon>-->
                            <!--</md-button>-->
                            <!--</md-fab-trigger>-->
                            <!--<md-fab-actions>-->
                            <!--<md-button type="submit" ng-click="saveFinalTerm()" aria-label="Publicar versión final"-->
                            <!--class="md-fab md-raised md-mini">-->
                            <!--<md-tooltip md-direction="top" md-visible="false" md-autohide="false">-->
                            <!--Publicar versión final-->
                            <!--</md-tooltip>-->
                            <!--<md-icon class="material-icons">file_upload</md-icon>-->
                            <!--</md-button>-->
                            <!--<md-button type="submit" ng-click="saveTemporalTerm()"-->
                            <!--aria-label="Publicar versión no final"-->
                            <!--class="md-fab md-raised md-mini">-->
                            <!--<md-tooltip md-direction="down" md-visible="false" md-autohide="false">-->
                            <!--Publicar versión no final-->
                            <!--</md-tooltip>-->
                            <!--<md-icon class="material-icons">schedule</md-icon>-->
                            <!--</md-button>-->
                            <!--<md-button type="submit" ng-click="saveDraft()" aria-label="Guardar borrador"-->
                            <!--class="md-fab md-raised md-mini">-->
                            <!--<md-tooltip md-direction="top" md-visible="false" md-autohide="false">-->
                            <!--Guardar borrador-->
                            <!--</md-tooltip>-->
                            <!--<md-icon class="material-icons">archive</md-icon>-->
                            <!--</md-button>-->
                            <!--</md-fab-actions>-->
                            <!--</md-fab-speed-dial>-->
                        </md-card-actions>
                    </form>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Importar">
            <div class="card">
                <form>
                    <md-toolbar layout="row" class="md-theme-light md-hue-2">
                        <div class="md-toolbar-tools md-hue-2  md-toolbar-header">
                            <h2 class="md-toolbar-tools">
                                <span>Selección del archivo de impotación</span>
                            </h2>
                        </div>
                    </md-toolbar>
                    <md-content style="padding: 1.3em;">
                        <div layout="row" layout-align="end center">
                            <md-input-container>
                                <label>Tipo de término</label>
                                <md-select ng-model="selectedType">
                                    <md-option ng-repeat="term in termTypes"
                                               value="{{term.type}}">
                                        {{term.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <lf-ng-md-file-input lf-files="files" lf-placeholder="Elige un archivo CSV"
                                             lf-browse-label="Buscar" lf-remove-label="Borrar"
                                             lf-drag-and-drop-label="Arrastra tu archivo aquí" drag
                                             preview></lf-ng-md-file-input>
                    </md-content>
                    <md-card-actions class="card-action-layout" layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-click="importFile()">Enviar</md-button>
                    </md-card-actions>
                </form>
            </div>
        </md-tab>
    </md-tabs>
</md-content>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>