
body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.selectable {
    cursor: pointer;
}

div:focus {
    outline: none;
    border: 0;
}

md-content.md-default-theme {
    background-color: #eee;
}

/*MENÚ*/

.main-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 0 0 16px;*/
    /*margin: 0 auto;*/
}

md-toolbar.md-tall {
    height: auto;
    min-height: inherit;
    /*max-height:15%;*/
}

md-sidenav.md-locked-open {
    width: 272px;
    min-width: 272px;
    max-width: 272px;
}

.site-sidenav > * {
    min-width: 218px;
}

.site-content-toolbar {
    background: #f6f6f6 !important;
    color: #202020 !important;
    z-index: 3;
}

.main-menu, .main-menu ul {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.main-menu > li {
    /*border-bottom: 1px solid #267ED5;*/
    /*color: #000;*/
}

.menu-bar {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

.menu-toolbar {
    margin: 0 !important;
    padding: 0 !important;
}

.main-menu .md-button {
    margin: 0;
}

.menu-group-title {
    padding: 0 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    white-space: normal !important;
    line-height: 40px !important;
    padding: 0 16px !important;
    width: 100% !important;
    margin: 0 !important;
    max-height: 40px !important;
    overflow: hidden !important;
    text-align: left !important;
    text-decoration: none !important;
}

.menu-toggle-list.ng-hide {
    max-height: 0;
}

.md-button-toggle.toggled {
    background-color: rgba(0, 0, 0, 0.02);
}

.menu-toggle-list .md-button {
    display: block;
    padding: 0 8px 0 42px;
    text-transform: none;
}

.menu-toggle-list {
    max-height: 1300px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
}

.menu-toggle-list-item {
    text-align: left !important;
    /*margin: 0 16px !important;*/
}

.md-button-toggle .md-toggle-icon.toggled {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}

.turn {
    transition: transform .3s ease-in-out !important;
    -webkit-transition: -webkit-transform .3s ease-in-out !important;
}

.turn.toggled {
    transform: rotateZ(180deg) !important;
    -webkit-transform: rotateZ(180deg) !important;
}

.md-button-toggle .md-toggle-icon {
    margin: auto 0 auto auto;
    width: 15px;
    float: right;
    transition: transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
}

.md-icon-button .md-toggle-icon.toggled {
    transform: rotateZ(180deg) !important;
    -webkit-transform: rotateZ(180deg) !important;
}

.md-icon-button .md-toggle-icon {
    margin: auto 0 auto auto;
    width: 15px;
    float: right;
    transition: transform .3s ease-in-out !important;
    -webkit-transition: -webkit-transform .3s ease-in-out !important;
}

.menu-divider {
    border-top-color: rgba(255, 255, 255, 0.12) !important;
}

/*BODY*/

.title-view {
    margin: 0;
    font-weight: bold;
}

.title-view-subcategory {
    margin: 0;
    font-weight: bold;
}

.list-body {
    margin: 1em;
}

.card {
    margin: 1em;
    border-radius: 2px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

.card-content {
    padding: 1.2em 1.2em 0.8em 1.2em;
}

.card-action-layout {
    padding: 0 0.8em 0.8em 0.8em;
}

.user-card {
    padding: 1em;
}

.user-card-content {
    padding: 0 0 1.2em 1.2em;
    border-radius: 2px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

.scope-card {
    padding: 1em;
}

.term-link-block {
    margin: 0.25em 0.25em 1em 2.5em;
}

.term-element {
    padding: 0 1em 1em 2.5em;
}

.term-element-link-list {
    /*padding-left: 0.7em;*/
    /*padding-right: 1em;*/
    width: 100%;
}

.term-element-subheader {
    /*padding: 0 1em 1em 1em;*/
    font-size: 16px !important;
}

.term-element-subheader2 {
    /*padding: 0 1em 1em 1em;*/
    font-size: 18px !important;
}

.divider-list {
    margin: 0.6em 3em 0.6em 0;
}

.bookmark-block {
    margin: 0.25em 0.25em 1em 3.5em;
}

.bookmark-card {
    padding: 0 0.75em 0.75em 0.25em;
}

.scope-card-content {
    padding: 0.2em 1em 1em 1em;
    border-radius: 2px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

.bookmark-card-content {
    padding: 0.6em 1em 0.8em 1em;
    border-radius: 2px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

.list-card-content {
    margin: 0 1em 0 1em;
    border-radius: 2px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

.one-line-span {
    overflow: hidden;
    text-overflow: ellipsis;
    /*display: -webkit-box;*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 1.2; /* fallback */
    max-height: 1.2em; /* fallback */
    height: 1.2em; /* fallback */
}

/*.one-line-span*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*display: -webkit-box;*/
/*-webkit-box-orient: vertical;*/
/*-webkit-line-clamp: 3; !* number of lines to show *!*/

.two-line-span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.2; /* fallback */
    max-height: 3.6em; /* fallback */
    text-align: center;
    /*height: 3.6em; !* fallback *!*/
}

.card-title {
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block !important;
    white-space: nowrap;
}

h3.md-headline {
    font-size: 0.9em;
}

.selector-card {
    padding: 1.2em;
    border-radius: 1px;
    border: 1px solid #c3c3c3;
}

.span-info {
    text-transform: uppercase;
    color: black;
    opacity: 0.7;
}

.span-info-small {
    text-transform: uppercase;
    color: black;
    font-size: smaller;
    opacity: 0.7;
}

.span-info-definition {
    color: black;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
    font-size: 0.9em;
    opacity: 0.7;
}

.h3-info {
    margin: 0.25em 0 0 0;
}

input[type=number].center::-webkit-inner-spin-button,
input[type=number].center::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input.center {
    text-align: center;
}

.page-button {
    padding: 2px;
    margin: 2px;
    min-height: inherit;
    min-width: inherit;
    line-height: inherit;
}

.page-button-content {
    font-size: 2.5em;
}

.menu-user-button {
    width: 45px !important;
    height: 45px !important;
    min-width: 45px !important;
    border-radius: 100% !important;
}

.menu-user-button:focus {
    width: 45px !important;
    height: 45px !important;
    min-width: 45px !important;
    border-radius: 100% !important;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 3px 14px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12) !important
}

.menu-user-button:hover {
    width: 45px !important;
    height: 45px !important;
    min-width: 45px !important;
    border-radius: 100% !important;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 3px 14px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12) !important
}

.icon-medium {
    font-size: 3em;
    display: inline !important;
    height: 100%;
    width: 100%;
}

.form-input {
    margin: 1em;
}

.dialogdemoBasicUsage #popupContainer {
    position: relative;
}

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
    font-size: 0.8em;
    margin-top: 50px;
}

.dialogdemoBasicUsage button {
    width: 200px;
}

.dialogdemoBasicUsage div#status {
    color: #c60008;
}

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize;
}

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important;
}

.fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem;
}

.fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.md-subheader {
    background-color: inherit;
}

.subcategory-subheader {
    font-size: 1.4em !important;
    font-weight: bold !important;
    line-height: 24px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.subcategory-list {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
    /*margin: 1em;*/
    padding-bottom: 1em;
}

.list-card-content-item {
    margin: 0 1em 0 1em;
    border: 1px darkgrey;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

.md-toolbar-header {
    padding: 0.5em;
    height: 2.1em;
    min-height: 2.1em;
}

.md-toolbar-header-small {
    padding: 0;
    height: 1.8em;
    min-height: 1.8em;
    /*background-color: #D9D9D9 !important;*/
    /*color: black !important;*/
}

md-chips-wrap.md-chips.md-readonly {
    box-shadow: none;
}

.md-datepicker-input-container {
    width: 80% !important;
}

input.md-datepicker-input {
    width: 100%;
}

/*Login*/

.login-buttton {
    display: inline-block !important;
    /*height: 100% !important;*/
    text-align: center !important;
    align-self: center !important;
    white-space: nowrap !important;
    padding: 0 0.5em 0 0.5em !important;
    margin: 0 1em 0 1em !important;
    /*min-width: inherit !important;*/
    overflow: inherit !important;
}

.avatar-pic {
    font-size: 35px;
    font-weight: 300;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    align-self: center;
    /*margin: 0 0.6em 0 0.25em;*/
}

.login-icon-button {
    width: 50px !important;
    height: 50px !important;
    align-self: center !important;
    margin: 0 0.6em 0 0 !important;
    padding: 0 !important;
}

.search-bar {
    align-self: center;
    background: white;
    padding: 0.25em;
}

.search-bar input[type="search"] {
    border: none;
    outline: none;
}

.card-subheader div._md-subheader-inner {
    padding: 0.8em 0em 0.8em 0;
}

.card-subheader {
    font-size: 1em !important; /*subheader font cambiar aquí*/
}

/*TABS*/

.tabs-wrapper {
    position: relative;
}

.full-size {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

md-tab-item {
    width: 50% !important;
}

md-pagination-wrapper {
    width: 100% !important;
}

.no-content {
    color: grey;
    font-style: italic;
    margin: 0;
    padding: 0.4em 0 0.4em 2em;
}

.md-toast-content {
    background-color: black !important;
}

span.md-toast-text {
    color: white;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0.3em rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    /*background-color: #F5F5F5;*/
}

::-webkit-scrollbar {
    width: 0.3em;
    /*background-color: #F5F5F5;*/
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #919191;
}

/*body { overflow: hidden; max-width: 100%; max-height: 100%; }*/

/*************************/
/*** Pop-up de usuario ***/
/*************************/
/*
.user-popup {
    display: none;
    position: fixed;
}

.user-popup > div {
    padding-top: 5px;
    position: absolute;
}

.user-popup .card {
    z-index: 200;
    width: 350px;
    margin-top: 0;
}

.user-popup .card .cover {
    height: 100px;
    background-image: url('asd');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.user-popup .card .header {
    height: 50px;
}

.user-popup .card .header img {
    border-radius: 3px;
    width: 100px;
    height: 100px;
    margin-top: -60px;
    border: 2px solid #ffffff;
}

.user-popup .card .header > div {
    flex: 1;
    padding: 0 .5rem;
}

.user-popup .card .descr {
    margin-top: .5rem;
}

.user-popup .card .data {
    margin-top: .5rem;
    padding-bottom: 0;
}

.user-popup .card .data .stats > div {
    padding: .5rem 0;
    margin-right: 1rem;
}

.user-popup .card .data .stats > div > div {
    margin-bottom: -5px;
}

.user-popup .card .follow-actions > div {
    padding: .2rem .5rem;
    border-radius: 3px;
}

.user-popup .card .follow-actions > a {
    padding: .5rem;
    height: auto;
    line-height: .7rem;
}

.user-popup .card .follow-actions > a i {
    font-size: 1rem;
    margin-right: .5rem;
    line-height: .7rem;
}
*/

/** ANIMATE **/

.show-hide {
    transition: all linear 0.65s;
}

.show-hide.ng-hide {
    opacity: 0;
}

.show-hide-loader {
    position: relative;
    z-index: 100;
    top: 10em;
    left: 50%;
    transition: all linear 0.35s;
}

.show-hide-loader.ng-hide {
    position: relative;
    z-index: 100;
    top: 10em;
    left: 50%;
    opacity: 0;
}

/*
.animate-enter,
.animate-leave {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
}

.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}

.example-animate-container {
    background:white;
    border:1px solid black;
    list-style:none;
    margin:0;
    padding:0 10px;
}

.animate-repeat {
    line-height:40px;
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}*/
