<div layout="row" class="list-body" flex>
    <md-content class="ui-view" flex="70" flex-xs="100" flex-sm="100" layout-fill md-scroll-y>
        <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                              md-diameter="60" ng-show="loading">
        </md-progress-circular>
        <div class="show-hide" ng-show="incidences" layout="row" layout-wrap>
            <div ng-repeat="incidence in incidences" flex="50" flex-xs="100" flex-sm="100">
                <div class="user-card" ng-mouseenter="mouseenter(incidence)" ng-mouseleave="mouseleave(incidence)">
                    <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                        <h3 class="md-toolbar-tools card-title" flex>
                            {{incidence.idTerm.name}}
                        </h3>
                        <md-button ng-click="showEditIncidenceDialog($event, incidence)" class="md-icon-button"
                                   ng-show="incidence.hover" style="align-self: center;" hide show-gt-sm>
                            <md-icon>mode_edit</md-icon>
                        </md-button>
                        <md-button ng-click="removeIncidence(incidence)" class="md-icon-button"
                                   ng-show="incidence.hover"
                                   style="align-self: center;" hide show-gt-sm>
                            <md-icon>delete</md-icon>
                        </md-button>
                        <div layout="column" layout-align="center center" hide show-xs show-sm>
                            <md-menu md-position-mode="target-right target">
                                <md-button color="white" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <md-icon>more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="showEditIncidenceDialog($event, incidence)">
                                            <div layout="row" flex="">
                                                <p flex="">Editar</p>
                                                <md-icon style="margin: auto 3px auto 0;">edit</md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="removeIncidence(incidence)">
                                            <div layout="row" flex="">
                                                <p flex="">Eliminar</p>
                                                <md-icon style="margin: auto 3px auto 0;">delete</md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-toolbar>
                    <md-content class="scope-card-content">
                        <div layout="row" layout-xs="column">
                            <div layout="column" layout-align="center center" flex>
                                <md-subheader class="md-primary card-subheader">Término</md-subheader>
                                <a ng-href="/terms/{{incidence.idTerm.idTerm}}">{{incidence.idTerm.name}}</a>
                            </div>
                            <div layout="column" layout-align="center center" flex>
                                <md-subheader class="md-primary card-subheader">Fecha de la incidencia</md-subheader>
                                <span>{{incidence.creation | date: 'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                        <div layout="row" layout-xs="column">
                            <div layout="column" layout-align="center center" flex>
                                <md-subheader class="md-primary card-subheader">Descripción</md-subheader>
                                <span style="text-align: center">{{incidence.description}}</span>
                            </div>
                        </div>
                    </md-content>
                </div>
            </div>
            <div layout="row" layout-align="center center" hide show-xs show-sm ng-if="incidences.length > 0">
                <md-button class="md-icon-button" ng-disabled="page.number == 0" ng-click="previousPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                           ng-disabled="page.number == (page.totalPages - 1) || page.totalPages == 0"
                           ng-click="nextPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                </md-button>
            </div>
            <div ng-show="incidences.length == 0 && !loading" layout="column" layout-align="center center"
                 class="show-hide" style="margin-top: 10%;" flex>
                <img style="height: 8em"
                     src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                <h2 style="color: grey; text-align: center">No hay incidencias encontradas</h2>
            </div>
        </div>
    </md-content>

    <div layout="column" style="padding: 0.5em 0 0 0.5em;" flex="30" flex-sm="0" flex-xs="0" hide-xs hide-sm style="margin-top: 1.8em">

        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
            <h2 class="md-toolbar-tools">
                <span>Selector de resultados</span>
            </h2>
        </md-toolbar>
        <md-content class="selector-card">
            <md-input-container>
                <label>Ordenar por</label>
                <md-select ng-model="page.sort.property">
                    <md-option ng-repeat="sortItem in sortList" value="{{sortItem.value}}">
                        {{sortItem.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Tamaño de página</label>
                <div layout="row">
                    <md-slider flex="85" md-discrete class="md-primary" ng-model="page.size" step="10" min="10"
                               max="100" aria-label="rating">
                    </md-slider>
                    <input class="center" flex="15" type="number" ng-model="page.size">
                </div>
            </md-input-container>
        </md-content>
        <div layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-disabled="page.number == 0" ng-click="previousPage()">
                <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
            </md-button>
            <md-button class="md-icon-button"
                       ng-disabled="page.number == (page.totalPages - 1) || page.totalPages == 0"
                       ng-click="nextPage()">
                <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
    </div>
</div>

<md-button class="md-fab" aria-label="Añadir inicidencias" style="position: absolute; bottom: 1em; right: 1em"
           ng-click="showNewIncidenceDialog($event)">
    <md-icon class="material-icons icon-medium">add</md-icon>
    <md-tooltip md-visible="false" md-direction="left">
        Añadir incidencia
    </md-tooltip>
</md-button>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>
