<div layout="row" flex>

    <md-tabs md-border-bottom md-selected="selectedTab" flex="100" flex-gt-sm="70">
        <md-tab label="Activados">
            <div class="ui-view" md-scroll-y>
                <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                      md-diameter="60" ng-show="loading">
                </md-progress-circular>
                <div layout="row" layout-xs="column" flex="100" layout-wrap class="show-hide" ng-show="users">
                    <div ng-repeat="user in users" flex="50" flex-xs="100">
                        <div class="user-card" ng-mouseenter="mouseenter(user)" ng-mouseleave="mouseleave(user)">
                            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                <h3 class="md-toolbar-tools card-title" flex>
                                    {{user.userName}}
                                </h3>
                                <md-button ng-click="showEditUserDialog($event, user)" class="md-icon-button"
                                           ng-show="user.hover" style="align-self: center;" hide show-gt-sm>
                                    <md-icon>mode_edit</md-icon>
                                </md-button>
                                <md-button ng-click="removeUser(user)" class="md-icon-button" ng-show="user.hover"
                                           style="align-self: center;" hide show-gt-sm>
                                    <md-icon>delete</md-icon>
                                </md-button>
                                <div hide show-xs show-sm layout="column" layout-align="center center">
                                    <md-menu md-position-mode="target-right target">
                                        <md-button color="white" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                            <md-icon>more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="showEditUserDialog($event, user)">
                                                    <div layout="row" flex="">
                                                        <p flex="">Editar</p>
                                                        <md-icon style="margin: auto 3px auto 0;">edit</md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="removeUser(user)">
                                                    <div layout="row" flex="">
                                                        <p flex="">Eliminar</p>
                                                        <md-icon style="margin: auto 3px auto 0;">delete</md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </md-toolbar>
                            <md-content class="scope-card-content">
                                <div layout-gt-md="row" layout="column" flex="100">
                                    <div layout="column" layout-align="center center" flex flex-gt-md="50"
                                         ng-if="user.email">
                                        <md-subheader class="md-primary card-subheader">Nombre</md-subheader>
                                        <span>{{user.name}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex flex-gt-md="50"
                                         ng-if="user.userName">
                                        <md-subheader class="md-primary card-subheader">Apellidos</md-subheader>
                                        <span>{{user.surnames}}</span>
                                    </div>
                                </div>
                                <div layout-gt-md="row" layout="column" flex="100">
                                    <div layout="column" layout-align="center center" flex flex-gt-md="50"
                                         ng-if="user.email">
                                        <md-subheader class="md-primary card-subheader">Email</md-subheader>
                                        <span>{{user.email}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex flex-gt-md="50"
                                         ng-if="user.register">
                                        <md-subheader class="md-primary card-subheader">Registro</md-subheader>
                                        <span>{{user.register | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                    </div>
                    <div layout="row" flex="100" layout-align="center center" ng-if="users.length > 0" hide show-xs
                         show-sm>
                        <md-button class="md-icon-button" ng-disabled="userListPage.number == 0"
                                   ng-click="previousPage()">
                            <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-disabled="userListPage.number == (userListPage.totalPages - 1)"
                                   ng-click="nextPage()">
                            <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                        </md-button>
                    </div>
                    <div ng-show="users.length == 0 && !loading" layout="column" layout-align="center center"
                         class="show-hide"
                         style="margin-top: 10%;" flex>
                        <img style="height: 8em"
                             src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                        <h2 style="color: grey; text-align: center">No hay usuarios encontrados</h2>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="Desactivados">
            <md-content class="ui-view" md-scroll-y>
                <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                      md-diameter="60" ng-show="loading">
                </md-progress-circular>
                <div layout="row" layout-xs="column" flex="100" layout-wrap class="show-hide"
                     ng-show="desactivatedUsers">
                    <div ng-repeat="user in desactivatedUsers" flex="50" flex-xs="100">
                        <div class="user-card" ng-mouseenter="mouseenter(user)" ng-mouseleave="mouseleave(user)">
                            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                <h3 class="md-toolbar-tools card-title" flex>
                                    {{user.userName}}
                                </h3>
                                <md-button ng-click="activateUser(user)" class="md-icon-button"
                                           ng-show="user.hover" style="align-self: center;" hide show-gt-sm>
                                    <md-icon>replay</md-icon>
                                </md-button>
                                <div hide show-xs show-sm layout="column" layout-align="center center">
                                    <md-menu md-position-mode="target-right target">
                                        <md-button color="white" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                            <md-icon>more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-click="activateUser(user)">
                                                    <div layout="row" flex="">
                                                        <p flex="">Activar</p>
                                                        <md-icon style="margin: auto 3px auto 0;">replay</md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </md-toolbar>
                            <md-content class="scope-card-content">
                                <div layout-gt-md="row" layout="column" flex="100">
                                    <div layout="column" layout-align="center center" flex flex-gt-md="50"
                                         ng-if="user.email">
                                        <md-subheader class="md-primary card-subheader">Nombre</md-subheader>
                                        <span>{{user.name}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex flex-gt-md="50"
                                         ng-if="user.userName">
                                        <md-subheader class="md-primary card-subheader">Apellidos</md-subheader>
                                        <span>{{user.surnames}}</span>
                                    </div>
                                </div>
                                <div layout-gt-md="row" layout="column" flex="100">
                                    <div layout="column" layout-align="center center" flex flex-gt-md="50"
                                         ng-if="user.email">
                                        <md-subheader class="md-primary card-subheader">Email</md-subheader>
                                        <span>{{user.email}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex flex-gt-md="50"
                                         ng-if="user.register">
                                        <md-subheader class="md-primary card-subheader">Registro</md-subheader>
                                        <span>{{user.register | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                    </div>
                    <div layout="row" flex="100" layout-align="center center" ng-if="desactivatedUsers.length > 0" hide
                         show-xs show-sm>
                        <md-button class="md-icon-button" ng-disabled="desactivatedUserPage == 0"
                                   ng-click="previousDesactivatedPage()">
                            <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-disabled="desactivatedUserPage == (totalDesactivatedPages - 1)"
                                   ng-click="nextDesactivatedPage()">
                            <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                        </md-button>
                    </div>
                    <div ng-show="desactivatedUsers.length == 0 && !loading" layout="column"
                         layout-align="center center"
                         class="show-hide"
                         style="margin-top: 10%;" flex>
                        <img style="height: 8em"
                             src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                        <h2 style="color: grey; text-align: center">No hay usuarios encontrados</h2>
                    </div>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>

    <div layout="column" flex="0" flex-gt-sm="30" hide show-gt-sm style="margin: 1.07em 1em;">

        <md-input-container class="md-block" style="margin: 0px">
            <label>Filtrar por usuario, nombre o apellidos</label>
            <input ng-model="searchParam">
        </md-input-container>
        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
            <h2 class="md-toolbar-tools">
                <span>Selector de resultados</span>
            </h2>
        </md-toolbar>
        <md-content class="selector-card">
            <md-input-container>
                <label>Ordenar por</label>
                <md-select ng-model="userListPage.sort.property">
                    <md-option ng-repeat="sortItem in sortList" value="{{sortItem.value}}">
                        {{sortItem.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Tamaño de página</label>
                <div layout="row">
                    <md-slider flex="85" md-discrete class="md-primary" ng-model="userListPage.size" step="10"
                               min="10"
                               max="100" aria-label="rating">
                    </md-slider>
                    <input class="center" flex="15" type="number" ng-model="userListPage.size">
                </div>
            </md-input-container>
        </md-content>
        <div layout="row" layout-align="center center">
            <div ng-if="selectedTab == 0">
                <md-button class="md-icon-button" ng-disabled="userListPage.number == 0" ng-click="previousPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="userListPage.number == (userListPage.totalPages - 1)"
                           ng-click="nextPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                </md-button>
            </div>
            <div ng-if="selectedTab == 1">
                <md-button class="md-icon-button" ng-disabled="desactivatedUserPage == 0"
                           ng-click="previousDesactivatedPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="desactivatedUserPage == (totalDesactivatedPages - 1)"
                           ng-click="nextDesactivatedPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>

<md-button class="md-fab" aria-label="Añadir usuario" ng-click="showNewUserDialog($event)"
           style="position: absolute; bottom: 1em; right: 1em">
    <md-icon class="material-icons icon-medium">add</md-icon>
    <md-tooltip md-visible="false" md-direction="left">
        Añadir usuario
    </md-tooltip>
</md-button>
<!--<button class="material-scrolltop md-primary" type="button"></button>-->
<!--<script>-->
    <!--$('body').materialScrollTop();-->
<!--</script>-->
