<md-dialog aria-label="New incidence">
    <form ng-submit="send()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nueva incidencia</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="row" layout-xs="column">
                <div class="form-input" flex>
                    <md-autocomplete ng-disabled="false" md-no-cache="false"
                                     md-selected-item="selectedTermItem"
                                     md-search-text-change="findTerms()"
                                     md-search-text="termQuery"
                                     md-selected-item-change="selectedTerm(selectedTermItem)"
                                     md-items="term in terms" md-item-text="term.name"
                                     md-min-length="0" placeholder="Nombre del término">
                        <md-item-template>
                            <span>{{term.name}}</span>
                        </md-item-template>
                        <md-not-found>
                            Sin resultados. Crea uno
                            <a ng-href="new/terms">aquí.</a>
                        </md-not-found>
                    </md-autocomplete>
                </div>
                <div class="form-input" flex>
                    <md-datepicker ng-model="newIncidence.creation"
                                   md-placeholder="Fecha de la incidencia">
                    </md-datepicker>
                </div>
            </div>
            <div class="md-dialog-content" layout="row" layout-xs="column">
                <md-input-container class="md-block form-input" flex>
                    <label>Descripción</label>
                    <textarea ng-model="newIncidence.description" required/>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
                Cancelar
            </md-button>
            <md-button class="md-primary" type="submit">
                <md-icon class="material-icons">send</md-icon>
                Confirmar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
