<md-dialog aria-label="New operational origin">
    <form ng-submit="send()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo origin operacional</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container class="md-block form-input" flex>
                    <label>Nombre</label>
                    <input ng-model="operationalOrigin.name" type="text" required>
                </md-input-container>
                <md-input-container class="md-block form-input" flex>
                    <label>Descripción</label>
                    <textarea ng-model="operationalOrigin.description" required/>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
                Cancelar
            </md-button>
            <md-button class="md-primary" type="submit">
                <md-icon class="material-icons">send</md-icon>
                Enviar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
