<md-dialog aria-label="New user">
    <form ng-submit="send()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo usuario</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="row" layout-xs="column">
                <md-input-container class="md-block form-input" flex>
                    <label>Nombre</label>
                    <input ng-model="newUser.name" type="text" required>
                </md-input-container>
                <md-input-container class="md-block form-input" flex>
                    <label>Apellidos</label>
                    <input ng-model="newUser.surnames" type="text" required>
                </md-input-container>
            </div>
            <div class="md-dialog-content" layout="row" layout-xs="column">
                <md-input-container class="md-block form-input" flex>
                    <label>Nombre de usuario</label>
                    <input ng-model="newUser.userName" type="text" required>
                </md-input-container>
                <md-input-container class="md-block form-input" flex>
                    <label>E-mail</label>
                    <input ng-model="newUser.email" type="email" required>
                </md-input-container>
            </div>
            <div class="md-dialog-content" layout="row" layout-xs="column">
                <div layout="row" layout-wrap flex>
                    <div flex="50" flex-xs="100" ng-repeat="role in roles" style="padding-left: 1em">
                        <md-checkbox ng-checked="exists(role, selectedRoles)" ng-click="toggle(role, selectedRoles)">
                            {{role.description}}
                        </md-checkbox>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
                Cancelar
            </md-button>
            <md-button class="md-primary" type="submit">
                <md-icon class="material-icons">send</md-icon>
                Enviar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
