<md-dialog aria-label="Modificar tema" style="min-width: 27%;">
    <form ng-submit="send()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Modificar tema</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" style="padding-top: 0.5em">
                <!--<div md-color-picker ng-model="valueObj"></div>-->
                <!--<md-button class="md-primary md-raised" ng-click=createTheme()>-->
                <!--Change theme-->
                <!--</md-button>-->

                <h2 class="md-toolbar-tools" style="padding-left: 0"><span>Temas</span></h2>
                <md-radio-group ng-model="metaDWTheme" layout="column" style="margin-left: 2em">
                    <md-radio-button value="metaDW" class="md-primary">MetaDW</md-radio-button>
                    <md-radio-button value="custom" class="md-primary">Personalizado</md-radio-button>
                </md-radio-group>

                <md-divider></md-divider>

                <h2 class="md-toolbar-tools" style="padding-left: 0"><span>Colores de los temas</span></h2>
                <div style="margin-left: 2em">
                    <md-select ng-model="primaryColor" placeholder="Tema principal"
                               ng-disabled="metaDWTheme == 'metaDW'" style="margin-top: 0;">
                        <md-option ng-value="themeName" ng-repeat="themeName in themeList">
                            <img width="16em" height="16em" ng-style="{background: themeName}"/>
                            <span>{{themeName}}</span>
                        </md-option>
                    </md-select>
                    <md-select ng-model="accentColor" placeholder="Tema secundario"
                               ng-disabled="metaDWTheme == 'metaDW'">
                        <md-option ng-value="themeName" ng-repeat="themeName in themeList">
                            <img width="16em" height="16em" ng-style="{background: themeName}"/>
                            <span>{{themeName}}</span>
                        </md-option>
                    </md-select>
                    <md-select ng-model="backgroundColor" placeholder="Tema de fondo"
                               ng-disabled="metaDWTheme == 'metaDW'">
                        <md-option ng-value="themeName" ng-repeat="themeName in themeList">
                            <img width="16em" height="16em" ng-style="{background: themeName}"/>
                            <span>{{themeName}}</span>
                        </md-option>
                    </md-select>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
                Cancelar
            </md-button>
            <md-button class="md-primary" type="submit">
                <md-icon class="material-icons">check</md-icon>
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>