<div layout="row" class="list-body" flex>
    <md-content flex-gt-sm="70" flex="100" layout-wrap md-scroll-y class="ui-view">
        <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                              md-diameter="60" ng-show="loading">
        </md-progress-circular>
        <div class="show-hide" ng-show="categories">
            <div flex="100" class="scope-card" ng-repeat="category in categories">
                <div ng-mouseenter="mouseenter(category)" ng-mouseleave="mouseleave(category)">
                    <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                        <h3 class="md-toolbar-tools" flex="100">
                            <a ng-href="/categories/{{category.idCategory}}" style="width:100%;">{{category.name}}</a>
                        </h3>
                        <md-button ng-href="/edit/categories/{{category.idCategory}}" class="md-icon-button"
                                   ng-show="category.hover" style="align-self: center;" ng-if="isEditable()" hide
                                   show-gt-sm>
                            <md-icon>edit</md-icon>
                        </md-button>
                        <md-button ng-click="removeCategory(category)" class="md-icon-button" ng-show="category.hover"
                                   style="align-self: center;" ng-if="isErasable()" hide show-gt-sm>
                            <md-icon>delete</md-icon>
                        </md-button>
                        <md-button ng-href="/history/categories/{{category.idCategory}}" class="md-icon-button"
                                   ng-show="category.hover" style="align-self: center;" hide show-gt-sm>
                            <md-icon>history</md-icon>
                        </md-button>
                        <md-icon ng-if="category.state == 0">warning</md-icon>
                        <div hide show-xs show-sm layout="column" layout-align="center center">
                            <md-menu md-position-mode="target-right target">
                                <md-button color="white" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <md-icon>more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item ng-if="isEditable()">
                                        <md-button ng-href="/edit/categories/{{category.idCategory}}">
                                            <div layout="row" flex="">
                                                <p flex="">Editar</p>
                                                <md-icon style="margin: auto 3px auto 0;">edit</md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="isErasable()">
                                        <md-button ng-click="removeCategory(category)">
                                            <div layout="row" flex="">
                                                <p flex="">Eliminar</p>
                                                <md-icon style="margin: auto 3px auto 0;">delete</md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-href="/history/categories/{{category.idCategory}}">
                                            <div layout="row" flex="">
                                                <p flex="">Historial</p>
                                                <md-icon style="margin: auto 3px auto 0;">history</md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-toolbar>
                    <a ng-href="/categories/{{category.idCategory}}">
                        <md-content class="scope-card-content">
                            <div layout="row" layout-xs="column">
                                <div layout="column" layout-align="center center" flex ng-if="category.creation ">
                                    <md-subheader class="md-primary card-subheader">Fecha de creación</md-subheader>
                                    <span>{{category.creation | date: 'dd/MM/yyyy'}}</span>
                                </div>
                                <div layout="column" layout-align="center center" flex ng-if="category.creation ">
                                    <md-subheader class="md-primary card-subheader">Última actualización</md-subheader>
                                    <span>{{category.lastUpdate | date: 'dd/MM/yyyy'}}</span>
                                </div>
                                <div layout="column" layout-align="center center" flex>
                                    <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                    <span>{{category.version}}</span>
                                </div>
                            </div>
                            <div layout="row" layout-xs="column" ng-if="category.definition">
                                <div layout-align="center center" layout="column" flex>
                                    <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                    <span class="two-line-span">{{category.definition}}</span>
                                </div>
                            </div>
                        </md-content>
                    </a>
                </div>
            </div>
            <div layout="row" flex="100" layout-align="center center" ng-if="categories.length > 0" hide show-xs
                 show-sm>
                <md-button class="md-icon-button" ng-disabled="categoryListPage.number == 0" ng-click="previousPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                           ng-disabled="categoryListPage.number == (categoryListPage.totalPages - 1)"
                           ng-click="nextPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                </md-button>
            </div>
            <div ng-show="categories.length == 0 && !loading" layout="column" layout-align="center center"
                 class="show-hide" style="margin-top: 10%;" flex>
                <img style="height: 8em"
                     src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                <h2 style="color: grey; text-align: center">No hay categorias encontradas</h2>
            </div>
        </div>
    </md-content>
    <div layout="column" flex-gt-sm="30" flex="0" style="padding: 0.5em 0 0 0.5em;" hide-sm hide-xs>
        <md-input-container class="md-block" style="margin: 0px">
            <label>Filtrar por nombre</label>
            <input ng-model="searchParam">
        </md-input-container>
        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
            <h2 class="md-toolbar-tools" style="height: 100%; min-height: 100%;">
                <span>Selector de resultados</span>
            </h2>
        </md-toolbar>
        <md-content class="selector-card">
            <md-input-container>
                <label>Ordenar por</label>
                <md-select ng-model="categoryListPage.sort.property">
                    <md-option ng-repeat="sortItem in sortList"
                               value="{{sortItem.value}}">
                        {{sortItem.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Tamaño de página</label>
                <div layout="row">
                    <md-slider flex="85" md-discrete class="md-primary" ng-model="categoryListPage.size" step="10"
                               min="10" max="100" aria-label="rating">
                    </md-slider>
                    <input class="center" flex="15" type="number" ng-model="categoryListPage.size">
                </div>
            </md-input-container>
        </md-content>
        <div layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-disabled="categoryListPage.number == 0" ng-click="previousPage()">
                <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
            </md-button>
            <md-button class="md-icon-button"
                       ng-disabled="categoryListPage.number == (categoryListPage.totalPages - 1)"
                       ng-click="nextPage()">
                <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
    </div>
</div>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>