<div layout="row" class="list-body" layout-wrap flex>
    <md-content flex-gt-sm="70" flex="100" class="ui-view" md-scroll-y layout-wrap>
        <!--Ámbitos-->
        <div layout="column" layout-xs="column" flex>
            <h2 class="md-toolbar-tools">
                <span>Ámbitos</span>
                <md-button class="md-icon-button" ng-click="toggleScope()">
                    <md-icon class="md-toggle-icon" ng-class="{'toggled' : !scopeSelection}" color="black" flex>
                        keyboard_arrow_down
                    </md-icon>
                </md-button>
            </h2>
            <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                  md-diameter="40" ng-show="loadingScopes" style="top: 1em;">
            </md-progress-circular>
            <div class="show-hide" ng-show="scopes">
                <div layout="column" flex="100" layout-xs="column" ng-if="scopes.length > 0">
                    <div flex="100" class="scope-card" ng-repeat="scope in scopes">
                        <div ng-mouseenter="mouseenter(scope)" ng-mouseleave="mouseleave(scope)">
                            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                <h3 class="md-toolbar-tools" flex="100">
                                    <span>{{scope.name}}</span>
                                </h3>
                                <md-button ng-href="/edit/drafts/scopes/{{scope.id}}" class="md-icon-button"
                                           ng-show="scope.hover" style="align-self: center;" hide show-gt-sm>
                                    <md-icon>edit</md-icon>
                                </md-button>
                                <md-button ng-click="removeScope(scope)" class="md-icon-button"
                                           ng-show="scope.hover" style="align-self: center;" hide show-gt-sm>
                                    <md-icon>delete</md-icon>
                                </md-button>
                                <div hide show-xs show-sm layout="column" layout-align="center center">
                                    <md-menu md-position-mode="target-right target">
                                        <md-button color="white" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon>more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-href="/edit/drafts/scopes/{{scope.id}}">
                                                    <div layout="row" flex="">
                                                        <p flex="">Editar</p>
                                                        <md-icon style="margin: auto 3px auto 0;">edit</md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="removeScope(scope)">
                                                    <div layout="row" flex="">
                                                        <p flex="">Eliminar</p>
                                                        <md-icon style="margin: auto 3px auto 0;">delete</md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </md-toolbar>
                            <md-content class="scope-card-content">
                                <div layout="row" layout-xs="column">
                                    <div layout="column" layout-align="center center" flex ng-if="scope.creation ">
                                        <md-subheader class="md-primary card-subheader">Fecha de creación
                                        </md-subheader>
                                        <span>{{scope.creation | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex>
                                        <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                        <span>{{scope.version}}</span>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" ng-if="scope.definition">
                                    <div layout-align="center center" layout="column" flex>
                                        <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                        <span class="two-line-span">{{scope.definition}}</span>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="center center" ng-if="scopes.length > 0 && !lastScopePage">
                    <div layout="row" ng-click="nextScopePage()" class="selectable">
                        <md-subheader class=" card-subheader">Ver más</md-subheader>
                        <md-button class="md-icon-button">
                            <md-icon flex>keyboard_arrow_down</md-icon>
                        </md-button>
                    </div>
                </div>
                <div ng-if="scopes.length == 0 && scopeSelection" flex>
                    <p class="no-content">No hay ámbitos guardados</p>
                </div>
            </div>
            <div layout="row" layout-align="center center" flex>
                <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                      md-diameter="40" ng-show="addingScopes">
                </md-progress-circular>
            </div>
        </div>
        <!--Categorías-->
        <div layout="column" layout-xs="column" flex>
            <h2 class="md-toolbar-tools">
                <span>Categorias</span>
                <md-button class="md-icon-button" ng-click="toggleCategory()">
                    <md-icon class="md-toggle-icon" ng-class="{'toggled' : !categorySelection}" color="black" flex>
                        keyboard_arrow_down
                    </md-icon>
                </md-button>
            </h2>
            <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                  md-diameter="40" ng-show="loadingCategories" style="top: 1em;">
            </md-progress-circular>
            <div class="show-hide" ng-show="categories">
                <div layout="column" flex="100" layout-xs="column" ng-if="categories.length > 0">
                    <div class="scope-card" ng-repeat="category in categories">
                        <div ng-mouseenter="mouseenter(category)" ng-mouseleave="mouseleave(category)">
                            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                <h3 class="md-toolbar-tools" flex="100">
                                    <span>{{category.name}}</span>
                                </h3>
                                <md-button ng-href="/edit/drafts/categories/{{category.id}}" class="md-icon-button"
                                           ng-show="category.hover" style="align-self: center;" hide show-gt-sm>
                                    <md-icon>edit</md-icon>
                                </md-button>
                                <md-button ng-click="removeCategory(category)" class="md-icon-button"
                                           ng-show="category.hover" style="align-self: center;" hide show-gt-sm>
                                    <md-icon>delete</md-icon>
                                </md-button>
                                <div hide show-xs show-sm layout="column" layout-align="center center">
                                    <md-menu md-position-mode="target-right target">
                                        <md-button color="white" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon>more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-href="/edit/drafts/categories/{{category.id}}">
                                                    <div layout="row" flex="">
                                                        <p flex="">Editar</p>
                                                        <md-icon style="margin: auto 3px auto 0;">edit</md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="removeCategory(category)">
                                                    <div layout="row" flex="">
                                                        <p flex="">Eliminar</p>
                                                        <md-icon style="margin: auto 3px auto 0;">delete</md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </md-toolbar>
                            <md-content class="scope-card-content">
                                <div layout="row" layout-xs="column">
                                    <div layout="column" layout-align="center center" flex
                                         ng-if="category.creation ">
                                        <md-subheader class="md-primary card-subheader">Fecha de creación
                                        </md-subheader>
                                        <span>{{category.creation | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex>
                                        <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                        <span>{{category.version}}</span>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" ng-if="category.definition">
                                    <div layout-align="center center" layout="column" flex>
                                        <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                        <span class="two-line-span">{{category.definition}}</span>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="center center" ng-if="categories.length > 0 && !lastCategoryPage">
                    <div layout="row" ng-click="nextCategoryPage()" class="selectable">
                        <md-subheader class=" card-subheader">Ver más</md-subheader>
                        <md-button class="md-icon-button">
                            <md-icon flex>keyboard_arrow_down</md-icon>
                        </md-button>
                    </div>
                </div>
                <div ng-if="categories.length == 0 && categorySelection" flex>
                    <p class="no-content">No hay categorías guardadas</p>
                </div>
            </div>
            <div layout="row" layout-align="center center" flex>
                <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                      md-diameter="40" ng-show="addingCategories">
                </md-progress-circular>
            </div>
        </div>
        <!--Términos-->
        <div layout="column" layout-xs="column" flex>
            <h2 class="md-toolbar-tools">
                <span>Términos</span>
                <md-button class="md-icon-button" ng-click="toogleTerms()">
                    <md-icon class="md-toggle-icon" ng-class="{'toggled' : !termSelection}" color="black" flex>
                        keyboard_arrow_down
                    </md-icon>
                </md-button>
            </h2>
            <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                  md-diameter="40" ng-show="loadingTerms" style="top: 1em;">
            </md-progress-circular>
            <div class="show-hide" ng-show="terms">
                <div layout="column" flex="100" layout-xs="column" ng-if="terms.length > 0">
                    <div class="scope-card" ng-repeat="term in terms">
                        <div ng-mouseenter="mouseenter(term)" ng-mouseleave="mouseleave(term)">
                            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                <h3 class="md-toolbar-tools" flex="100">
                                    <span>{{term.name}}</span>
                                </h3>
                                <md-button ng-href="/edit/drafts/terms/{{term.id}}" class="md-icon-button"
                                           ng-show="term.hover" style="align-self: center;" hide show-gt-sm>
                                    <md-icon>edit</md-icon>
                                </md-button>
                                <md-button ng-click="removeTerm(term)" class="md-icon-button"
                                           ng-show="term.hover" style="align-self: center;" hide show-gt-sm>
                                    <md-icon>delete</md-icon>
                                </md-button>
                                <div hide show-xs show-sm layout="column" layout-align="center center">
                                    <md-menu md-position-mode="target-right target">
                                        <md-button color="white" class="md-icon-button"
                                                   ng-click="$mdOpenMenu($event)">
                                            <md-icon>more_vert</md-icon>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button ng-href="/edit/drafts/terms/{{term.id}}">
                                                    <div layout="row" flex="">
                                                        <p flex="">Editar</p>
                                                        <md-icon style="margin: auto 3px auto 0;">edit</md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="removeTerm(term)">
                                                    <div layout="row" flex="">
                                                        <p flex="">Eliminar</p>
                                                        <md-icon style="margin: auto 3px auto 0;">delete</md-icon>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </md-toolbar>
                            <md-content class="scope-card-content">
                                <div layout="row" layout-xs="column">
                                    <div flex layout-align="center center" layout="column" ng-if="term.type.type">
                                        <md-subheader class="md-primary card-subheader">Tipo de término
                                        </md-subheader>
                                        <span>{{term.type.name}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex ng-if="term.creation ">
                                        <md-subheader class="md-primary card-subheader">Fecha de creación
                                        </md-subheader>
                                        <span>{{term.creation | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex>
                                        <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                        <span>{{term.version}}</span>
                                    </div>
                                </div>
                                <div ng-if="term.definition" flex>
                                    <div layout-align="center center" layout="column" flex>
                                        <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                        <span class="two-line-span">{{term.definition}}</span>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="center center" ng-if="terms.length > 0 && !lastTermPage">
                    <div layout="row" ng-click="nextTermPage()" class="selectable">
                        <md-subheader class=" card-subheader">Ver más</md-subheader>
                        <md-button class="md-icon-button">
                            <md-icon flex>keyboard_arrow_down</md-icon>
                        </md-button>
                    </div>
                </div>
                <div ng-if="terms.length == 0 && termSelection" flex>
                    <p class="no-content">No hay términos guardados</p>
                </div>
            </div>
            <div layout="row" layout-align="center center" flex>
                <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                      md-diameter="40" ng-show="addingTerms">
                </md-progress-circular>
            </div>
        </div>
    </md-content>
    <div layout="column" flex="0" flex-gt-sm="30" style="padding: 1.5em 0 0 0.5em;" hide-sm hide-xs>
        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
            <h2 class="md-toolbar-tools">
                <span>Selector de resultados</span>
            </h2>
        </md-toolbar>
        <md-content class="selector-card">
            <div layout="column">
                <md-subheader class="md-primary card-subheader">Elementos</md-subheader>
                <div layout="row">
                    <div flex="50">
                        <md-checkbox ng-checked="scopeSelection" ng-click="toggleScope()">
                            Ámbitos
                        </md-checkbox>
                    </div>
                    <div flex="50">
                        <md-checkbox ng-checked="categorySelection" ng-click="toggleCategory()">
                            Categorías
                        </md-checkbox>
                    </div>
                </div>
                <div flex="50">
                    <md-checkbox ng-checked="termSelection" ng-click="toogleTerms()">
                        Términos
                    </md-checkbox>
                </div>
            </div>
            <md-input-container>
                <label>Ordenar por</label>
                <md-select ng-model="seletedSort">
                    <md-option ng-repeat="sortItem in sortList" value="{{sortItem.value}}">
                        {{sortItem.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Tamaño de página</label>
                <div layout="row">
                    <md-slider flex="85" md-discrete class="md-primary" ng-model="pageSize" step="5"
                               min="5" max="100" aria-label="rating">
                    </md-slider>
                    <input class="center" flex="15" type="number" ng-model="pageSize" readonly>
                </div>
            </md-input-container>
        </md-content>
    </div>
</div>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>