<div layout="column" flex>
    <div layout="row" class="list-body">
        <md-content flex-gt-sm="70" flex="100" layout-wrap md-scroll-y class="ui-view">
            <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                  md-diameter="60" ng-show="loading">
            </md-progress-circular>
            <div class="show-hide" ng-show="terms">
                <div ng-repeat="term in terms" class="scope-card" flex="100">
                    <div ng-mouseenter="mouseenter(term)" ng-mouseleave="mouseleave(term)">
                        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                            <h3 class="md-toolbar-tools" flex="100">
                                <a ng-href="/terms/{{term.idTerm}}" style="width: 100%">{{term.name}}</a>
                            </h3>
                            <md-button ng-href="/edit/terms/{{term.idTerm}}" class="md-icon-button" ng-show="term.hover"
                                       style="align-self: center;" ng-if="isEditable()" hide show-gt-sm>
                                <md-icon>edit</md-icon>
                            </md-button>
                            <md-button ng-click="removeTerm(term)" class="md-icon-button" ng-show="term.hover"
                                       style="align-self: center;" ng-if="isErasable()" hide show-gt-sm>
                                <md-icon>delete</md-icon>
                            </md-button>
                            <md-button ng-href="/history/terms/{{term.idTerm}}" class="md-icon-button"
                                       ng-show="term.hover"
                                       style="align-self: center;" hide show-gt-sm>
                                <md-icon>history</md-icon>
                            </md-button>
                            <md-icon ng-if="term.state == 0">warning</md-icon>
                            <div hide show-xs show-sm layout="column" layout-align="center center">
                                <md-menu md-position-mode="target-right target">
                                    <md-button color="white" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                        <md-icon>more_vert</md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item ng-if="isEditable()">
                                            <md-button ng-href="/edit/terms/{{term.idTerm}}">
                                                <div layout="row" flex="">
                                                    <p flex="">Editar</p>
                                                    <md-icon style="margin: auto 3px auto 0;">edit</md-icon>
                                                </div>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="isErasable()">
                                            <md-button ng-click="removeTerm(term)">
                                                <div layout="row" flex="">
                                                    <p flex="">Eliminar</p>
                                                    <md-icon style="margin: auto 3px auto 0;">delete</md-icon>
                                                </div>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-href="/history/terms/{{term.idTerm}}">
                                                <div layout="row" flex="">
                                                    <p flex="">Historial</p>
                                                    <md-icon style="margin: auto 3px auto 0;">history</md-icon>
                                                </div>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                        </md-toolbar>
                        <a ng-href="/terms/{{term.idTerm}}">
                            <md-content class="scope-card-content">
                                <div layout="row" layout-xs="column">
                                    <div flex layout-align="center center" layout="column">
                                        <md-subheader class="md-primary card-subheader">Tipo de término</md-subheader>
                                        <span>{{term.type.name}}</span>
                                    </div>
                                    <div flex layout-align="center center" layout="column">
                                        <md-subheader class="md-primary card-subheader">Fecha de creación</md-subheader>
                                        <span>{{term.creation | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div flex layout-align="center center" layout="column" ng-if="term.lastUpdate">
                                        <md-subheader class="md-primary card-subheader">Última actualización
                                        </md-subheader>
                                        <span>{{term.lastUpdate | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div flex layout-align="center center" layout="column">
                                        <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                        <span>{{term.version}}</span>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" ng-if="term.definition">
                                    <div layout-align="center center" layout="column" flex>
                                        <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                        <span class="two-line-span">{{term.definition}}</span>
                                    </div>
                                </div>
                            </md-content>
                        </a>
                    </div>
                </div>
                <div layout="row" flex="100" layout-align="center center" ng-if="terms.length > 0" hide show-xs show-sm>
                    <md-button class="md-icon-button" ng-disabled="termListPage.number == 0" ng-click="previousPage()">
                        <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="nextPage()"
                               ng-disabled="termListPage.number == (termListPage.totalPages - 1) || termListPage.totalPages == 0">
                        <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                    </md-button>
                </div>
                <div ng-show="terms.length == 0 && !loading" layout="column" layout-align="center center"
                     class="show-hide" style="margin-top: 10%;" flex>
                    <img style="height: 8em"
                         src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                    <h2 style="color: grey; text-align: center">No hay términos encontrados</h2>
                </div>
            </div>
        </md-content>
        <div layout="column" flex-gt-sm="30" flex="0" style="padding: 0.5em 0 0 0.5em;" hide-xs hide-sm>

            <md-input-container class="md-block" style="margin: 0px">
                <label>Filtrar por nombre</label>
                <input ng-model="searchParam">
            </md-input-container>

            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
                <h2 class="md-toolbar-tools">
                    <span>Selector de resultados</span>
                </h2>
            </md-toolbar>
            <md-content class="selector-card">
                <md-input-container>
                    <label>Ordenar por</label>
                    <md-select ng-model="termListPage.sort.property">
                        <md-option ng-repeat="sortItem in sortList" value="{{sortItem.value}}">
                            {{sortItem.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout="row" layout-wrap flex>
                    <div flex="50" ng-repeat="termType in termTypes">
                        <md-checkbox ng-checked="exists(termType, selected)" ng-click="toggle(termType, selected)">
                            {{termType.name}}
                        </md-checkbox>
                    </div>
                </div>
                <md-input-container>
                    <label>Tamaño de página</label>
                    <div layout="row">
                        <md-slider flex="85" md-discrete class="md-primary" ng-model="termListPage.size" step="10"
                                   min="10"
                                   max="100"
                                   aria-label="rating">
                        </md-slider>
                        <input class="center" flex="15" type="number" ng-model="termListPage.size">
                    </div>
                </md-input-container>
            </md-content>
            <div layout="row" layout-align="center center">
                <md-button class="md-icon-button" ng-disabled="termListPage.number == 0" ng-click="previousPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                           ng-disabled="termListPage.number == (termListPage.totalPages - 1) || termListPage.totalPages == 0"
                           ng-click="nextPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>