<div layout="column" flex>
    <div layout-wrap>
        <md-toolbar class="md-theme-light md-hue-2" layout="column" style="padding: 0.5em 0 0.5em 0">
            <div layout="row" layout-align="center center">
                <h1 class="md-display-1" style="margin: 0; font-weight: bold;">
                    {{scope.name}}
                </h1>
            </div>
            <div layout-gt-sm="row" layout="column" flex="100">
                <div layout="row" flex="100">
                    <div layout="column" flex layout-align="center center" ng-show="totalVersions">
                        <h3 class="md-headline h3-info">Nº de versiones</h3>
                        <span class="span-info">{{totalVersions}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info">Autor</h3>
                        <span class="span-info">{{scope.owner.name}}</span>
                    </div>
                </div>
                <div layout="row" flex="100">
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info" hide-xs>Fecha de creación</h3>
                        <h3 class="md-headline h3-info" hide-gt-xs>Creado</h3>
                        <span class="span-info">{{scope.creation | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info" hide-xs>Última actualización</h3>
                        <h3 class="md-headline h3-info" hide-gt-xs>Actualizado</h3>
                        <span class="span-info">{{scope.lastUpdate | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info">Versión</h3>
                        <span class="span-info">{{scope.version}}</span>
                    </div>
                </div>
            </div>
            <div layout="column" layout-align="center center">
                <h3 class="md-headline h3-info">Definición</h3>
                <span class="span-info-definition">{{scope.definition}}</span>
            </div>
        </md-toolbar>
    </div>
    <div layout="row" class="list-body">
        <md-content flex-gt-sm="70" flex="100" class="ui-view" layout-wrap md-scroll-y>
            <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                  md-diameter="60" ng-show="loading">
            </md-progress-circular>
            <div class="show-hide" ng-show="versions">
                <div ng-repeat="version in versions" class="scope-card" flex="100" ng-mouseenter="mouseenter(version)"
                     ng-mouseleave="mouseleave(version)">

                    <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                        <h3 class="md-toolbar-tools" flex="100">
                            <span>VERSIÓN {{version.version}}</span>
                        </h3>
                        <md-button ng-href="/edit/scopes/{{version.idScope}}/version/{{version.id}}"
                                   class="md-icon-button" ng-show="version.hover" style="align-self: center;" hide
                                   show-gt-sm ng-if="isEditable()">
                            <md-icon>edit</md-icon>
                        </md-button>
                        <div layout="column" layout-align="center center" hide show-xs show-sm ng-if="isEditable()">
                            <md-menu md-position-mode="target-right target">
                                <md-button color="white" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <md-icon>more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-href="/edit/scopes/{{version.idScope}}/version/{{version.id}}">
                                            <div layout="row" flex="">
                                                <p flex="">Editar</p>
                                                <md-icon style="margin: auto 3px auto 0;">edit</md-icon>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-toolbar>
                    <md-content class="scope-card-content">
                        <div layout="row" layout-xs="column">
                            <div flex layout-align="center center" layout="column">
                                <md-subheader class="md-primary card-subheader">Nombre</md-subheader>
                                <span>{{version.name}}</span>
                            </div>
                            <div flex layout-align="center center" layout="column">
                                <md-subheader class="md-primary card-subheader">Fecha de actualización</md-subheader>
                                <span>{{version.lastUpdate | date: 'dd/MM/yyyy'}}</span>
                            </div>
                            <div flex layout-align="center center" layout="column">
                                <md-subheader class="md-primary card-subheader">Autor</md-subheader>
                                <span>{{version.owner.surnames}}, {{version.owner.name}}</span>
                            </div>
                        </div>
                        <div layout="row" layout-xs="column" ng-if="term.definition">
                            <div layout-align="center center" layout="column" flex style="padding-top: 1em">
                                <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                <span class="two-line-span">{{version.definition}}</span>
                            </div>
                        </div>
                    </md-content>

                </div>
                <div layout="row" layout-align="center center" ng-if="versions.length > 0" hide show-sm show-xs>
                    <md-button class="md-icon-button" ng-disabled="scopePage.number == 0" ng-click="previousPage()">
                        <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-disabled="scopePage.number == (scopePage.totalPages - 1)"
                               ng-click="nextPage()">
                        <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                    </md-button>
                </div>
                <div ng-show="versions.length == 0 && !loading" layout="column" layout-align="center center" class="show-hide"
                     style="margin-top: 10%;" flex>
                    <img style="height: 8em"
                         src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                    <h2 style="color: grey; text-align: center">No hay versiones encontradas</h2>
                </div>
            </div>
        </md-content>
        <div layout="column" flex-gt-sm="30" flex="0" style="padding: 1em 0 0 0.5em;" hide show-gt-sm>

            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
                <h2 class="md-toolbar-tools">
                    <span>Selector de resultados</span>
                </h2>
            </md-toolbar>
            <md-content class="selector-card">
                <md-input-container>
                    <label>Ordenar por</label>
                    <md-select ng-model="scopePage.sort">
                        <md-option ng-repeat="sortItem in sortList" ng-value="{{sortItem.value}}">
                            {{sortItem.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Tamaño de página</label>
                    <div layout="row">
                        <md-slider flex="85" md-discrete class="md-primary" ng-model="scopePage.size" step="10"
                                   min="10"
                                   max="100"
                                   aria-label="rating">
                        </md-slider>
                        <input class="center" flex="15" type="number" ng-model="scopePage.size">
                    </div>
                </md-input-container>
            </md-content>
            <div layout="row" layout-align="center center">
                <md-button class="md-icon-button" ng-disabled="scopePage.number == 0" ng-click="previousPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="scopePage.number == (scopePage.totalPages - 1)"
                           ng-click="nextPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>