<!--<md-content layout-gt-sm="row" layout="column" flex>-->
    <div layout="column" flex>
        <div layout-wrap>
            <md-toolbar class="md-theme-light md-hue-2" layout="column" style="padding: 0.5em 0 0.5em 0">
                <div layout="column" layout-gt-sm="row" layout-align="center center"
                     style="margin: 0.6em 1em 0.8em 1em">
                    <h1 layout="row" layout-align="center center" class="md-display-1 title-view" flex="80">
                        {{category.name}}
                    </h1>
                    <div layout="row" flex-gt-sm="20" flex="100" layout-align-gt-sm="end center"
                         layout-align="center center">
                        <div layout="row" layout-align="center center">
                            <md-button ng-href="/edit/categories/{{category.idCategory}}" class="md-icon-button"
                                       ng-show="isEditable()" flex>
                                <md-icon>edit</md-icon>
                            </md-button>
                            <md-button ng-click="removeCategory(category)" class="md-icon-button" ng-show="isErasable()"
                                       flex>
                                <md-icon>delete</md-icon>
                            </md-button>
                            <md-button ng-href="/history/categories/{{category.idCategory}}" class="md-icon-button"
                                       ng-show="true" flex>
                                <md-icon>history</md-icon>
                            </md-button>
                            <md-button ng-click="download()" class="md-icon-button" flex>
                                <md-icon>file_download</md-icon>
                            </md-button>
                            <md-icon ng-if="category.state == 0" flex>warning</md-icon>
                        </div>
                    </div>
                </div>
                <div layout-gt-sm="row" layout="column" flex="100">
                    <div layout="row" flex>
                        <div layout="column" flex layout-align="center center" ng-if="terms">
                            <h3 class="md-headline h3-info">Nº de términos</h3>
                            <span class="span-info">{{totalElements}}</span>
                        </div>
                        <div layout="column" flex layout-align="center center" ng-if="categories">
                            <h3 class="md-headline h3-info">Nº de subcategorías</h3>
                            <span class="span-info">{{totalElements}}</span>
                        </div>
                        <div layout="column" flex layout-align="center center">
                            <h3 class="md-headline h3-info">Autor</h3>
                            <span class="span-info">{{category.owner.name}}</span>
                        </div>
                    </div>
                    <div layout="row" flex>
                        <div layout="column" flex layout-align="center center">
                            <h3 class="md-headline h3-info" hide-xs>Fecha de creación</h3>
                            <h3 class="md-headline h3-info" hide-gt-xs>Creado</h3>
                            <span class="span-info">{{category.creation | date:'dd/MM/yyyy'}}</span>
                        </div>
                        <div layout="column" flex layout-align="center center">
                            <h3 class="md-headline h3-info" hide-xs>Última actualización</h3>
                            <h3 class="md-headline h3-info" hide-gt-xs>Actualizado</h3>
                            <span class="span-info">{{category.lastUpdate | date:'dd/MM/yyyy'}}</span>
                        </div>
                        <div layout="column" flex layout-align="center center">
                            <h3 class="md-headline h3-info">Versión</h3>
                            <span class="span-info">{{category.version}}</span>
                        </div>
                    </div>
                </div>
                <div layout="column" layout-align="center center">
                    <h3 class="md-headline h3-info">Definición</h3>
                    <span class="span-info-definition">{{category.definition}}</span>
                </div>
            </md-toolbar>
        </div>
        <div layout="row" class="list-body">
            <md-content class="ui-view" flex="100" flex-gt-sm="70" layout-wrap md-scroll-y-gt-md>
                <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                      md-diameter="60" ng-show="loading">
                </md-progress-circular>
                <div class="show-hide" ng-show="categories || terms">
                    <div ng-repeat="category in categories" class="scope-card" flex="100">
                        <a ng-href="/categories/{{category.idCategory}}">
                            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                <h3 class="md-toolbar-tools" flex="100">
                                    <span>{{category.name}}</span>
                                </h3>
                                <md-icon ng-if="category.state == 0">warning</md-icon>
                            </md-toolbar>
                            <md-content class="scope-card-content">
                                <div layout="row" layout-xs="column">
                                    <div layout="column" layout-align="center center" flex>
                                        <md-subheader class="md-primary card-subheader">Autor</md-subheader>
                                        <span>{{category.owner.name}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex ng-if="category.creation ">
                                        <md-subheader class="md-primary card-subheader">Fecha de creación</md-subheader>
                                        <span>{{category.creation | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex>
                                        <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                        <span>{{category.version}}</span>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" ng-if="category.definition">
                                    <div layout="column" layout-align="center center" flex>
                                        <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                        <span class="two-line-span">{{category.definition}}</span>
                                    </div>
                                </div>
                            </md-content>
                        </a>
                    </div>

                    <div ng-repeat="term in terms" class="scope-card" flex="100">
                        <a ng-href="/terms/{{term.idTerm}}">
                            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                <h3 class="md-toolbar-tools" flex="100">
                                    <span>{{term.name}}</span>
                                </h3>
                                <md-icon ng-if="term.state == 0">warning</md-icon>
                            </md-toolbar>
                            <md-content class="scope-card-content">
                                <div layout="row" layout-xs="column">
                                    <div flex layout-align="center center" layout="column">
                                        <md-subheader class="md-primary card-subheader">Tipo de término</md-subheader>
                                        <span>{{term.type.name}}</span>
                                    </div>
                                    <div flex layout-align="center center" layout="column" ng-if="term.shortName">
                                        <md-subheader class="md-primary card-subheader">Abreviatura</md-subheader>
                                        <span>{{term.shortName}}</span>
                                    </div>
                                    <div flex layout-align="center center" layout="column" ng-if="term.lastUpdate">
                                        <md-subheader class="md-primary card-subheader">Fecha de actualización
                                        </md-subheader>
                                        <span>{{term.lastUpdate | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div flex layout-align="center center" layout="column">
                                        <md-subheader class="md-primary card-subheader">Autor</md-subheader>
                                        <span>{{term.owner.name}}</span>
                                    </div>
                                </div>
                                <div layout="row" layout-xs="column" ng-if="term.definition">
                                    <div layout-align="center center" layout="column" flex style="padding-top: 1em">
                                        <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                        <span class="two-line-span">{{term.definition}}</span>
                                    </div>
                                </div>
                                <md-chips class="custom-chips" ng-model="term.denominations" readonly="true"
                                          layout-align="center center" layout="row" layout-xs="column"
                                          ng-if="term.denominations && term.denominations.length > 0"
                                          style="box-shadow: none;padding-top: 0.6em;">
                                    <md-chip-template>
                                    <span>
                                        {{$chip.denomination}}
                                    </span>
                                    </md-chip-template>
                                </md-chips>
                            </md-content>
                        </a>
                    </div>

                    <div ng-show="categories.length == 0 && !loading" layout="column" layout-align="center center"
                         class="show-hide"
                         style="margin-top: 10%;" flex>
                        <img style="height: 8em"
                             src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                        <h2 style="color: grey; text-align: center">No hay subcategorías encontradas</h2>
                    </div>

                    <div ng-show="terms.length == 0 && !loading" layout="column" layout-align="center center"
                         class="show-hide"
                         style="margin-top: 10%;" flex>
                        <img style="height: 8em"
                             src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                        <h2 style="color: grey; text-align: center">No hay términos encontrados</h2>
                    </div>
                </div>
                <div layout="row" layout-align="center center" ng-if="terms.length > 0 || categories.length > 0" hide
                     show-xs show-sm>
                    <md-button class="md-icon-button" ng-disabled="listPage.number == 0" ng-click="previousPage()">
                        <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-disabled="listPage.number == (listPage.totalPages - 1)"
                               ng-click="nextPage()">
                        <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                    </md-button>
                </div>
            </md-content>
            <div layout="column" flex-gt-sm="30" flex="0" style="padding: 0.5em 0 0 0.5em;" hide-sm hide-xs>
                <div layout-wrap>
                    <md-input-container class="md-block" style="margin: 0px">
                        <label>Filtrar por nombre</label>
                        <input ng-model="searchParam">
                    </md-input-container>
                    <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
                        <h2 class="md-toolbar-tools" style="height: 100%; min-height: 100%;">
                            <span>Selector de resultados</span>
                        </h2>
                    </md-toolbar>
                    <md-content class="selector-card">
                        <md-input-container>
                            <label>Ordenar por</label>
                            <md-select ng-model="listPage.sort.property">
                                <md-option ng-repeat="sortItem in sort"
                                           value="{{sortItem.value}}">
                                    {{sortItem.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div layout="row" layout-wrap flex>
                            <div flex="50" ng-repeat="termType in termTypes">
                                <md-checkbox ng-checked="exists(termType, selected)"
                                             ng-click="toggle(termType, selected)">
                                    {{termType.name}}
                                </md-checkbox>
                            </div>
                        </div>
                        <md-input-container>
                            <label>Tamaño de página</label>
                            <div layout="row">
                                <md-slider flex="85" md-discrete class="md-primary" ng-model="listPage.size" step="10"
                                           min="10" max="100" aria-label="rating">
                                </md-slider>
                                <input class="center" flex="15" type="number" ng-model="listPage.size">
                            </div>
                        </md-input-container>
                    </md-content>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-icon-button" ng-disabled="listPage.number == 0" ng-click="previousPage()">
                            <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                        </md-button>
                        <md-button class="md-icon-button" ng-disabled="listPage.number == (listPage.totalPages - 1)"
                                   ng-click="nextPage()">
                            <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</md-content>-->
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>