<div layout="row" class="list-body" layout-wrap flex>
    <md-content class="ui-view" flex-gt-sm="70" flex="100" layout-wrap md-scroll-y>
        <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                              md-diameter="60" ng-show="loading">
        </md-progress-circular>
        <div class="show-hide" ng-show="categories" flex="100">
            <div class="scope-card" ng-repeat="category in categories" flex="100">
                <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                    <h3 class="md-toolbar-tools" flex="100">
                        <span>{{category.name}}</span>
                    </h3>
                    <md-icon ng-if="category.state == 0">warning</md-icon>
                </md-toolbar>
                <md-content class="scope-card-content">
                    <a ng-href="/categories/{{category.idCategory}}">
                        <div layout="row" layout-xs="column">
                            <div layout="column" layout-align="center center" flex>
                                <md-subheader class="md-primary card-subheader">Autor</md-subheader>
                                <span>{{category.owner.name}}</span>
                            </div>
                            <div layout="column" layout-align="center center" flex ng-if="category.creation">
                                <md-subheader class="md-primary card-subheader">Fecha de creación</md-subheader>
                                <span>{{category.creation | date: 'dd/MM/yyyy'}}</span>
                            </div>
                            <div layout="column" layout-align="center center" flex ng-if="category.version">
                                <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                <span>{{category.version}}</span>
                            </div>
                        </div>
                        <div layout="row" layout-xs="column" ng-if="category.definition">
                            <div layout-align="center center" layout="column" flex>
                                <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                <span class="two-line-span">{{category.definition}}</span>
                            </div>
                        </div>
                    </a>

                    <div layout="row" layout-align="center center" flex="100" class="selectable"
                         ng-click="selectCategory(category.idCategory)">
                        <div layout="row">
                            <md-subheader class=" card-subheader">Ver subcategorías</md-subheader>
                            <md-button class="md-icon-button">
                                <md-icon class="turn" flex
                                         ng-class="{'toggled' : (selectedCategory && (selectedCategory == category.idCategory))}">
                                    keyboard_arrow_down
                                </md-icon>
                            </md-button>
                        </div>
                    </div>

                    <div ng-show="selectedCategory == category.idCategory" layout="column">
                        <div ng-show="loadingSubcategories" layout-align="center center" class="show-hide"
                             layout="row" flex="100">
                            <md-progress-circular md-mode="indeterminate" class="md-primary md-hue-1"
                                                  md-diameter="60">
                            </md-progress-circular>
                        </div>
                        <div class="show-hide" ng-show="subcategories.length > 0">
                            <div ng-repeat="subcategory in subcategories track by $index" style="margin-left: 1em"
                                 flex="100">
                                <md-divider class="md-default-theme divider-list" ng-if="$index > 0"></md-divider>
                                <a ng-href="/categories/{{subcategory.idCategory}}" layout="column">
                                    <md-content layout="row" layout-align="start center" class="md-toolbar-header"
                                                style="height: 100%;">
                                        {{subcategory.name}}
                                    </md-content>
                                </a>
                            </div>
                        </div>
                        <div ng-if="subcategories.length == 0" flex="100" layout="column" layout-align="center center">
                                <span style="padding-left: 0;padding-right: 1.75em" class="no-content">
                                    No hay subcategorías
                                </span>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
        <div ng-show="categories.length == 0 && !loading" layout="column" layout-align="center center" class="show-hide"
             style="margin-top: 10%;" flex>
            <img style="height: 8em"
                 src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
            <h2 style="color: grey; text-align: center">No hay categorías encontradas</h2>
        </div>
    </md-content>
    <div layout="column" style="padding: 0.5em 0 0 0.5em;" flex-gt-sm="30" flex="0" hide-xs hide-sm>

        <md-input-container class="md-block" style="margin: 0px">
            <label>Filtrar por nombre</label>
            <input ng-model="searchParam">
        </md-input-container>

        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
            <h2 class="md-toolbar-tools">
                <span>Selector de resultados</span>
            </h2>
        </md-toolbar>
        <md-content class="selector-card">
            <md-input-container>
                <label>Ordenar por</label>
                <md-select ng-model="categoryListPage.sort.property">
                    <md-option ng-repeat="sortItem in sortList" value="{{sortItem.value}}">
                        {{sortItem.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Tamaño de página</label>
                <div layout="row">
                    <md-slider flex="85" md-discrete class="md-primary" ng-model="categoryListPage.size" step="10"
                               min="10"
                               max="100"
                               aria-label="rating">
                    </md-slider>
                    <input class="center" flex="15" type="number" ng-model="categoryListPage.size">
                </div>
            </md-input-container>
        </md-content>
        <div layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-disabled="categoryListPage.number == 0" ng-click="previousPage()">
                <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-disabled="categoryListPage.number == (categoryListPage.totalPages - 1)"
                       ng-click="nextPage()">
                <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
    </div>
</div>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>
