<md-content class="ui-view" layout-gt-sm="row" layout="column" flex layout-fill md-scroll-y>
    <div layout="column" flex-gt-sm="60" flex layout-wrap>
        <div flex="100">
            <div layout="row" layout-align="start center" style="padding-left: 1em">
                <md-icon>update</md-icon>
                <h2 class="md-toolbar-tools">
                    <span>Últimas actualizaciones</span>
                </h2>
            </div>
            <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                  md-diameter="60" ng-show="loadingTerms">
            </md-progress-circular>
            <div layout="column" flex="100" layout-xs="column" ng-show="terms.length > 0" class="show-hide">
                <div class="scope-card" ng-repeat="term in terms">
                    <a ng-href="/terms/{{term.idTerm}}">
                        <div ng-mouseenter="mouseenter(term)" ng-mouseleave="mouseleave(term)">
                            <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                <h3 class="md-toolbar-tools" flex="65">
                                    <span class="one-line-span">{{term.name}}</span>
                                </h3>
                                <div flex="35" layout="row" layout-align="end center">
                                        <span style="padding-right: 0.2em;font-size: small">
                                            {{term.lastUpdate | timestampdate}}
                                        </span>
                                </div>
                            </md-toolbar>
                            <md-content class="scope-card-content">
                                <div layout="row" layout-xs="column">
                                    <div flex layout-align="center center" layout="column" ng-if="term.type.type">
                                        <md-subheader class="md-primary card-subheader">Tipo de término
                                        </md-subheader>
                                        <span>{{term.type.name}}</span>
                                    </div>
                                    <div flex layout-align="center center" layout="column" ng-if="term.shortName">
                                        <md-subheader class="md-primary card-subheader">Abreviatura
                                        </md-subheader>
                                        <span>{{term.shortName}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex ng-if="term.creation ">
                                        <md-subheader class="md-primary card-subheader">Fecha de creación
                                        </md-subheader>
                                        <span>{{term.creation | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div layout="column" layout-align="center center" flex>
                                        <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                        <span>{{term.version}}</span>
                                    </div>
                                </div>
                            </md-content>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div flex-gt-sm="40" flex="100" layout-wrap>
        <div flex layout="column">
            <div layout="column" flex="100">
                <div layout="row" layout-align="start center" style="padding-left: 1em">
                    <md-icon>error</md-icon>
                    <h2 class="md-toolbar-tools">
                        <span>Incidencias</span>
                    </h2>
                </div>
                <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                      md-diameter="40" ng-show="loadingIncidences" style="top: 1em;" hide show-gt-sm>
                </md-progress-circular>
                <div class="show-hide" ng-show="incidences" layout="column" flex="100">
                    <div class="scope-card" layout="column" flex="100" ng-repeat="incidence in incidences"
                         ng-show="incidences.length > 0">
                        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                            <h3 class="md-toolbar-tools" flex="70">
                                <span class="one-line-span">{{incidence.idTerm.name}}</span>
                            </h3>
                            <div flex="30" layout="row" layout-align="end center"
                                 style="padding-right: 0.2em;font-size: small">
                                <span>{{incidence.creation | date: 'dd/MM/yyyy'}}</span>
                                <span hide-xs style="padding-left: 0.25em">{{incidence.creation | date: 'hh:mm'}}</span>
                            </div>
                        </md-toolbar>
                        <md-content class="scope-card-content" style="padding-top: 0.6em; text-align: center;">
                            {{incidence.description}}
                        </md-content>
                    </div>
                    <div ng-show="incidences.length == 0">
                        <p class="no-content">No hay incidencias registradas</p>
                    </div>
                </div>
            </div>
            <div layout="column" flex="100" ng-if="myMetaDWUser">
                <div layout="row" layout-align="start center" style="padding-left: 1em">
                    <md-icon>book</md-icon>
                    <h2 class="md-toolbar-tools">
                        <span>Marcadores</span>
                    </h2>
                </div>
                <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                      md-diameter="40" ng-show="loadingIncidences" style="top: 1em;" hide show-gt-sm>
                </md-progress-circular>
                <div class="show-hide" ng-if="bookmarks" layout="column" flex>
                    <div class="bookmark-block" ng-show="bookmarks.length > 0" layout="column" flex>
                        <div ng-repeat="bookmark in bookmarks track by $index">
                            <a ng-href="/terms/{{bookmark.idTerm}}" layout="column" flex="100">
                                <md-content class="term-element-link-list">
                                    {{bookmark.name}}
                                </md-content>
                            </a>
                            <md-divider class="md-default-theme divider-list"></md-divider>
                        </div>
                    </div>
                    <div ng-show="bookmarks.length == 0">
                        <p class="no-content">Añade aquí tus marcadores</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>
