<div layout="row" class="list-body" layout-wrap flex>
    <md-content class="ui-view" flex-gt-sm="70" flex="100" layout-wrap md-scroll-y>
        <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                              md-diameter="60" ng-show="loading">
        </md-progress-circular>
        <div class="show-hide" ng-show="scopes">
            <div class="scope-card" ng-repeat="scope in scopes" flex="100">
                <a ng-href="/scopes/{{scope.idScope}}" ng-mouseenter="mouseenter(scope)"
                   ng-mouseleave="mouseleave(scope)">
                    <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                        <h3 class="md-toolbar-tools" flex="100">
                            <span>{{scope.name}}</span>
                        </h3>
                        <md-icon ng-if="scope.state == 0">warning</md-icon>
                    </md-toolbar>
                    <md-content class="scope-card-content">
                        <div layout="row" layout-xs="column">
                            <div layout="column" layout-align="center center" flex>
                                <md-subheader class="md-primary card-subheader">Autor</md-subheader>
                                <span>{{scope.owner.name}}</span>
                            </div>
                            <div layout="column" layout-align="center center" flex>
                                <md-subheader class="md-primary card-subheader">Fecha de creación</md-subheader>
                                <span>{{scope.creation | date: 'dd/MM/yyyy'}}</span>
                            </div>
                            <div layout="column" layout-align="center center" flex>
                                <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                <span>{{scope.version}}</span>
                            </div>
                            <div ng-if="false">
                                <md-subheader class="md-primary card-subheader">Estado</md-subheader>
                                <md-icon>warning</md-icon>
                            </div>
                        </div>
                        <div layout="row" layout-xs="column" ng-if="scope.definition">
                            <div layout-align="center center" layout="column" flex>
                                <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                <span class="two-line-span">{{scope.definition}}</span>
                            </div>
                        </div>
                    </md-content>
                </a>
            </div>
            <div ng-show="scopes.length == 0 && !loading" layout="column" layout-align="center center"
                 class="show-hide"
                 style="margin-top: 10%;" flex>
                <img style="height: 8em"
                     src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                <h2 style="color: grey; text-align: center">No hay ámbitos encontrados</h2>
            </div>
        </div>
    </md-content>
    <div layout="column" style="padding: 0.5em 0 0 0.5em;" flex-gt-sm="30" flex="0" hide-sm hide-xs>

        <md-input-container class="md-block" style="margin: 0px">
            <label>Filtrar por nombre</label>
            <input ng-model="searchParam">
        </md-input-container>

        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header"> <!--flex-gt-sm="70" flex="100"-->
            <h2 class="md-toolbar-tools">
                <span>Selector de resultados</span>
            </h2>
        </md-toolbar>
        <md-content class="selector-card">
            <md-input-container>
                <label>Ordenar por</label>
                <md-select ng-model="scopeListPage.sort.property">
                    <md-option ng-repeat="sortItem in sortList" ng-value="sortItem.value">
                        {{sortItem.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Tamaño de página</label>
                <div layout="row">
                    <md-slider flex="85" md-discrete class="md-primary" ng-model="scopeListPage.size" step="10" min="10"
                               max="100"
                               aria-label="rating">
                    </md-slider>
                    <input class="center" flex="15" type="number" ng-model="scopeListPage.size">
                </div>
            </md-input-container>
        </md-content>
        <div layout="row" layout-align="center center">
            <md-button class="md-icon-button" ng-disabled="scopeListPage.number == 0" ng-click="previousPage()">
                <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-disabled="scopeListPage.number == (scopeListPage.totalPages - 1)"
                       ng-click="nextPage()">
                <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
            </md-button>
        </div>
    </div>
</div>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>
