<div layout="column" flex>
    <div layout-wrap>
        <md-toolbar class="md-theme-light md-hue-2" layout="column" style="padding: 0.5em 0 0.5em 0">
            <div layout="column" layout-gt-sm="row" layout-align="center center" style="margin: 0.6em 1em 0.8em 1em">
                <h1 layout="row" layout-align="center center" class="md-display-1 title-view" flex="80">
                    {{scope.name}}
                </h1>
                <div layout="row" flex-gt-sm="20" flex="100" layout-align-gt-sm="end center"
                     layout-align="center center">
                    <div layout="row" layout-align="center center">
                        <md-button ng-href="/edit/scopes/{{scope.idScope}}" class="md-icon-button"
                                   ng-show="isEditable()" flex>
                            <md-icon>edit</md-icon>
                        </md-button>
                        <md-button ng-click="removeScope(scope)" class="md-icon-button" ng-show="isErasable()" flex>
                            <md-icon>delete</md-icon>
                        </md-button>
                        <md-button ng-href="/history/scopes/{{scope.idScope}}" class="md-icon-button" flex>
                            <md-icon>history</md-icon>
                        </md-button>
                        <md-button ng-click="download()" class="md-icon-button" flex>
                            <md-icon>file_download</md-icon>
                        </md-button>
                        <md-icon ng-if="scope.state == 0" flex>warning</md-icon>
                    </div>
                </div>
            </div>
            <div layout-gt-sm="row" layout="column" flex="100">
                <div layout="row" flex>
                    <div layout="column" flex layout-align="center center" ng-show="terms">
                        <h3 class="md-headline h3-info">Nº de términos</h3>
                        <span class="span-info">{{terms.length}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info">Autor</h3>
                        <span class="span-info">{{scope.owner.name}}</span>
                    </div>
                </div>
                <div layout="row" flex>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info" hide-xs>Fecha de creación</h3>
                        <h3 class="md-headline h3-info" hide-gt-xs>Creado</h3>
                        <span class="span-info">{{scope.creation | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info" hide-xs>Última actualización</h3>
                        <h3 class="md-headline h3-info" hide-gt-xs>Actualizado</h3>
                        <span class="span-info">{{scope.lastUpdate | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info">Versión</h3>
                        <span class="span-info">{{scope.version}}</span>
                    </div>
                </div>
            </div>
            <div layout="column" layout-align="center center">
                <h3 class="md-headline h3-info">Definición</h3>
                <span class="span-info-definition">{{scope.definition}}</span>
            </div>
        </md-toolbar>
    </div>
    <div layout="row" class="list-body">
        <md-content class="ui-view" flex-gt-sm="70" flex="100" layout-wrap md-scroll-y>
            <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                                  md-diameter="60" ng-show="loading">
            </md-progress-circular>
            <div class="show-hide" ng-show="terms.length > 0">
                <div ng-repeat="term in terms" class="scope-card sample-show-hide"
                     ng-show="terms.length > 0" flex="100">
                    <a ng-href="/terms/{{term.idTerm}}">
                        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                            <h3 class="md-toolbar-tools" flex="100">
                                <span>{{term.name}}</span>
                            </h3>
                            <md-icon ng-if="term.state == 0">warning</md-icon>
                        </md-toolbar>
                        <md-content class="scope-card-content">
                            <div layout="row" layout-xs="column">
                                <div flex layout-align="center center" layout="column">
                                    <md-subheader class="md-primary card-subheader">Tipo de término</md-subheader>
                                    <span>{{term.type.name}}</span>
                                </div>
                                <div flex layout-align="center center" layout="column">
                                    <md-subheader class="md-primary card-subheader">Abreviatura</md-subheader>
                                    <span>{{term.shortName}}</span>
                                </div>
                                <div flex layout-align="center center" layout="column">
                                    <md-subheader class="md-primary card-subheader">Fecha de creación</md-subheader>
                                    <span>{{term.creation | date: 'dd/MM/yyyy'}}</span>
                                </div>
                                <div flex layout-align="center center" layout="column">
                                    <md-subheader class="md-primary card-subheader">Autor</md-subheader>
                                    <span>{{term.owner.name}}</span>
                                </div>
                            </div>
                            <div layout="row" layout-xs="column" ng-if="term.definition">
                                <div layout-align="center center" layout="column" flex style="padding-top: 1em">
                                    <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                    <span class="two-line-span">{{term.definition}}</span>
                                </div>
                            </div>
                            <md-chips class="custom-chips" ng-model="term.denominations" readonly="true"
                                      layout-align="center center" layout="row" layout-xs="column"
                                      style="box-shadow: none"
                                      ng-if="term.denominations.length > 0">
                                <md-chip-template>
                                    <span>
                                        {{$chip.denomination}}
                                    </span>
                                </md-chip-template>
                            </md-chips>
                        </md-content>
                    </a>
                </div>
            </div>
            <div layout="row" layout-align="center center" ng-if="terms.length > 0" hide show-xs show-sm>
                <md-button class="md-icon-button" ng-disabled="termListPage.number == 0" ng-click="previousPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-disabled="termListPage.number == (termListPage.totalPages - 1)"
                           ng-click="nextPage()">
                    <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                </md-button>
            </div>
            <div ng-show="terms.length == 0 && !loading" layout="column" layout-align="center center" class="show-hide"
                 style="margin-top: 10%;" flex>
                <img style="height: 8em"
                     src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/1x/ic_zero_spam.png"/>
                <h2 style="color: grey; text-align: center">No hay términos encontrados</h2>
            </div>
        </md-content>
        <div layout="column" flex-gt-sm="30" flex="0" style="padding: 0.5em 0 0 0.5em;" hide show-gt-sm>
            <div layout-wrap>
                <md-input-container class="md-block" style="margin: 0px">
                    <label>Filtrar por nombre</label>
                    <input ng-model="searchParam">
                </md-input-container>

                <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
                    <h2 class="md-toolbar-tools">
                        <span>Selector de resultados</span>
                    </h2>
                </md-toolbar>
                <md-content class="selector-card">
                    <md-input-container>
                        <label>Ordenar por</label>
                        <md-select ng-model="termListPage.sort.property">
                            <md-option ng-repeat="sortItem in sortList" value="{{sortItem.value}}">
                                {{sortItem.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div layout="row" layout-wrap flex>
                        <div flex="50" ng-repeat="termType in termTypes">
                            <md-checkbox ng-checked="exists(termType, selected)" ng-click="toggle(termType, selected)">
                                {{termType.name}}
                            </md-checkbox>
                        </div>
                    </div>
                    <md-input-container>
                        <label>Tamaño de página</label>
                        <div layout="row">
                            <md-slider flex="85" md-discrete class="md-primary" ng-model="termListPage.size" step="10"
                                       min="10"
                                       max="100"
                                       aria-label="rating">
                            </md-slider>
                            <input class="center" flex="15" type="number" ng-model="termListPage.size">
                        </div>
                    </md-input-container>
                </md-content>

                <div layout="row" layout-align="center center">
                    <md-button class="md-icon-button" ng-disabled="termListPage.number == 0" ng-click="previousPage()">
                        <md-icon class="material-icons page-button-content">keyboard_arrow_left</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-disabled="termListPage.number == (termListPage.totalPages - 1)"
                               ng-click="nextPage()">
                        <md-icon class="material-icons page-button-content">keyboard_arrow_right</md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>