<div layout="row" class="list-body" flex>
    <md-content flex="100" flex-gt-sm="70" layout-wrap md-scroll-y class="ui-view">
        <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                              md-diameter="60" ng-show="loading">
        </md-progress-circular>
        <!--Ámbitos-->
        <div class="show-hide" ng-show="scopes">
            <div layout="column" flex="100">
                <section>
                    <h2 class="md-toolbar-tools">
                        <span>Ámbitos encontrados</span>
                        <md-button class="md-icon-button" ng-click="toggleScope()">
                            <md-icon class="md-toggle-icon" ng-class="{'toggled' : !scopeSelection}" color="black" flex>
                                keyboard_arrow_down
                            </md-icon>
                        </md-button>
                    </h2>
                    <div ng-if="scopes.length > 0">
                        <div layout="column" flex="100" class="scope-card" ng-repeat="scope in scopes">
                            <a ng-href="/scopes/{{scope.idScope}}" ng-mouseenter="mouseenter(scope)"
                               ng-mouseleave="mouseleave(scope)">
                                <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                    <h3 class="md-toolbar-tools" flex="100">
                                        <span>{{scope.name}}</span>
                                    </h3>
                                    <md-button ng-href="/history" class="md-icon-button" ng-show="scope.hover"
                                               style="align-self: center;">
                                        <md-icon>history</md-icon>
                                    </md-button>
                                    <md-icon ng-if="scope.state == 0">warning</md-icon>
                                </md-toolbar>
                                <md-content class="scope-card-content">
                                    <div layout="row" layout-xs="column">
                                        <div layout="column" layout-align="center center" flex>
                                            <md-subheader class="md-primary card-subheader">Autor</md-subheader>
                                            <span>{{scope.owner.name}}</span>
                                        </div>
                                        <div layout="column" layout-align="center center" flex>
                                            <md-subheader class="md-primary card-subheader">Fecha de creación
                                            </md-subheader>
                                            <span>{{scope.creation | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                        <div layout="column" layout-align="center center" flex>
                                            <md-subheader class="md-primary card-subheader">Última actualización
                                            </md-subheader>
                                            <span>{{scope.lastUpdate | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                        <div layout="column" layout-align="center center" flex>
                                            <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                            <span>{{scope.version}}</span>
                                        </div>
                                        <div ng-if="false">
                                            <md-subheader class="md-primary card-subheader">Estado</md-subheader>
                                            <md-icon>warning</md-icon>
                                        </div>
                                    </div>
                                    <div layout="row" layout-xs="column" ng-if="scope.definition">
                                        <div layout="column" layout-align="center center" flex>
                                            <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                            <span class="two-line-span">{{scope.definition}}</span>
                                        </div>
                                    </div>
                                </md-content>
                            </a>
                        </div>

                        <div layout="row" layout-align="center center" flex="100" class="selectable"
                             ng-if="scopePage.number != (scopePage.totalPages - 1)" ng-click="nextScopePage()">
                            <div layout="row">
                                <md-subheader class=" card-subheader">Ver más</md-subheader>
                                <md-button class="md-icon-button">
                                    <md-icon flex>keyboard_arrow_down</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--Categorías-->
        <div class="show-hide" ng-show="categories">
            <div layout="column" flex="100">
                <section>
                    <h2 class="md-toolbar-tools">
                        <span>Categorias encontradas</span>
                        <md-button class="md-icon-button" ng-click="toggleCategory()">
                            <md-icon class="md-toggle-icon" ng-class="{'toggled' : !categorySelection}" color="black"
                                     flex>
                                keyboard_arrow_down
                            </md-icon>
                        </md-button>
                    </h2>
                    <div ng-if="categories.length > 0">
                        <div flex="100" class="scope-card" ng-repeat="category in categories">
                            <a ng-href="/categories/{{category.idCategory}}">
                                <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                    <h3 class="md-toolbar-tools" flex="100">
                                        <span>{{category.name}}</span>
                                    </h3>
                                    <md-icon ng-if="category.state == 0">warning</md-icon>
                                </md-toolbar>
                                <md-content class="scope-card-content">
                                    <div layout="row" layout-xs="column">
                                        <div layout="column" layout-align="center center" flex>
                                            <md-subheader class="md-primary card-subheader">Autor</md-subheader>
                                            <span>{{category.owner.name}}</span>
                                        </div>
                                        <div layout="column" layout-align="center center" flex
                                             ng-if="category.creation ">
                                            <md-subheader class="md-primary card-subheader">Fecha de creación
                                            </md-subheader>
                                            <span>{{category.creation | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                        <div layout="column" layout-align="center center" flex
                                             ng-if="category.creation ">
                                            <md-subheader class="md-primary card-subheader">Última actualización
                                            </md-subheader>
                                            <span>{{category.lastUpdate | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                        <div layout="column" layout-align="center center" flex>
                                            <md-subheader class="md-primary card-subheader">Versión</md-subheader>
                                            <span>{{category.version}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" layout-xs="column" ng-if="category.definition" flex="100">
                                        <div layout="column" layout-align="center center" flex>
                                            <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                            <span class="two-line-span">{{category.definition}}</span>
                                        </div>
                                    </div>
                                </md-content>
                            </a>
                        </div>

                        <div layout="row" layout-align="center center" flex="100" class="selectable"
                             ng-if="categoryPage.number != (categoryPage.totalPages - 1)" ng-click="nextCategoryPage()">
                            <div layout="row">
                                <md-subheader class=" card-subheader">Ver más</md-subheader>
                                <md-button class="md-icon-button">
                                    <md-icon flex>keyboard_arrow_down</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--Términos-->
        <div class="show-hide" ng-show="terms">
            <div layout="column" flex="100">
                <section>
                    <h2 class="md-toolbar-tools">
                        <span>Términos encontrados</span>
                        <md-button class="md-icon-button" ng-click="toogleTerms()">
                            <md-icon class="md-toggle-icon" ng-class="{'toggled' : !termSelection}" color="black" flex>
                                keyboard_arrow_down
                            </md-icon>
                        </md-button>
                    </h2>
                    <div ng-if="terms.length > 0">
                        <div ng-repeat="term in terms" class="scope-card" flex="100">
                            <a ng-href="/terms/{{term.idTerm}}">
                                <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header" layout="row">
                                    <h3 class="md-toolbar-tools" flex="100">
                                        <span>{{term.name}}</span>
                                    </h3>
                                    <md-icon ng-if="term.state == 0">warning</md-icon>
                                </md-toolbar>
                                <md-content class="scope-card-content">
                                    <div layout="row" layout-xs="column">
                                        <div flex layout-align="center center" layout="column">
                                            <md-subheader class="md-primary card-subheader">Tipo de término
                                            </md-subheader>
                                            <span>{{term.type.name}}</span>
                                        </div>
                                        <div flex layout-align="center center" layout="column" ng-if="term.shortName">
                                            <md-subheader class="md-primary card-subheader">Abreviatura</md-subheader>
                                            <span>{{term.shortName}}</span>
                                        </div>
                                        <div flex layout-align="center center" layout="column">
                                            <md-subheader class="md-primary card-subheader">Última actualización
                                            </md-subheader>
                                            <span>{{term.lastUpdate | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                        <div flex layout-align="center center" layout="column">
                                            <md-subheader class="md-primary card-subheader">Autor</md-subheader>
                                            <span>{{term.owner.name}}</span>
                                        </div>
                                    </div>
                                    <div layout="row" layout-xs="column" ng-if="term.definition">
                                        <div layout-align="center center" layout="column" flex style="padding-top: 1em">
                                            <md-subheader class="md-primary card-subheader">Definición</md-subheader>
                                            <span class="two-line-span">{{term.definition}}</span>
                                        </div>
                                    </div>
                                </md-content>
                            </a>
                        </div>

                        <div layout="row" layout-align="center center" flex="100" class="selectable"
                             ng-if="termPage.number != (termPage.totalPages - 1)" ng-click="nextTermPage()">
                            <div layout="row">
                                <md-subheader class=" card-subheader">Ver más</md-subheader>
                                <md-button class="md-icon-button">
                                    <md-icon flex>keyboard_arrow_down</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </md-content>
    <div layout="column" flex="0" flex-gt-sm="30" hide show-gt-sm>
        <md-toolbar class="md-theme-light md-hue-2 md-toolbar-header">
            <h2 class="md-toolbar-tools">
                <span>Selector de resultados</span>
            </h2>
        </md-toolbar>
        <md-content class="selector-card">
            <div layout="column">
                <md-subheader class="md-primary card-subheader">Elementos</md-subheader>
                <div layout="row">
                    <div flex="50">
                        <md-checkbox ng-checked="scopeSelection" ng-click="toggleScope()">
                            Ámbitos
                        </md-checkbox>
                    </div>
                    <div flex="50">
                        <md-checkbox ng-checked="categorySelection" ng-click="toggleCategory()">
                            Categorías
                        </md-checkbox>
                    </div>
                </div>
                <md-switch ng-model="termSelection" aria-label="Switch de términos" ng-change="toogleTerms()">
                    Tipos de términos
                </md-switch>
                <div layout="row" layout-wrap flex>
                    <div ng-repeat="termType in termTypes" flex="50">
                        <md-checkbox ng-checked="exists(termType, selected)" ng-click="toggle(termType, selected)" flex>
                            {{termType.name}}
                        </md-checkbox>
                    </div>
                </div>
            </div>
            <md-input-container>
                <label>Ordenar por</label>
                <md-select ng-model="seletedSort">
                    <md-option ng-repeat="sortItem in sortList" value="{{sortItem.value}}">
                        {{sortItem.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Tamaño de página</label>
                <div layout="row">
                    <md-slider flex="85" md-discrete class="md-primary" ng-model="pageSize" step="5"
                               min="5" max="100" aria-label="rating">
                    </md-slider>
                    <input class="center" flex="15" type="number" ng-model="pageSize" readonly>
                </div>
            </md-input-container>
        </md-content>
    </div>
</div>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>