<md-content class="ui-view" md-scroll-y flex>
    <div layout-wrap>
        <md-toolbar class="md-theme-light md-hue-2" layout="column" style="    padding: 1em 0 1em 0;">
            <div layout="column" layout-gt-sm="row" layout-align="center center" style="margin: 0.6em 1em 0.8em 1em">
                <h1 layout="row" layout-align="center center" class="md-display-1 title-view" flex="80">
                    {{term.name}}
                </h1>
                <div layout="row" flex-gt-sm="20" flex="100" layout-align-gt-sm="end center"
                     layout-align="center center">
                    <div layout="row" layout-align="center center">
                        <md-button ng-href="/edit/terms/{{term.idTerm}}" class="md-icon-button" ng-show="isEditable()"
                                   flex>
                            <md-icon>edit</md-icon>
                        </md-button>
                        <md-button ng-click="removeTerm(term)" class="md-icon-button" ng-show="isErasable()" flex>
                            <md-icon>delete</md-icon>
                        </md-button>
                        <md-button ng-href="/history/terms/{{term.idTerm}}" class="md-icon-button" flex>
                            <md-icon>history</md-icon>
                        </md-button>
                        <md-button ng-click="addBookmark()" class="md-icon-button"
                                   ng-show="!hasBookmark && myMetaDWUser"
                                   flex>
                            <md-icon>bookmark_border</md-icon>
                        </md-button>
                        <md-button ng-click="removeBookmark()" class="md-icon-button"
                                   ng-show="hasBookmark && myMetaDWUser"
                                   flex>
                            <md-icon>bookmark</md-icon>
                        </md-button>
                        <md-button ng-click="download()" class="md-icon-button" flex>
                            <md-icon>file_download</md-icon>
                        </md-button>
                        <md-icon ng-if="term.state == 0" flex>warning</md-icon>
                    </div>
                </div>
            </div>
            <div layout-gt-sm="row" layout="column" flex="100">
                <div layout="row" flex>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info">Tipo</h3>
                        <span class="span-info-small">{{term.type.name}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center" ng-if="term.shortName">
                        <h3 class="md-headline h3-info">Abreviatura</h3>
                        <span class="span-info-small">{{term.shortName}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info">Autor</h3>
                        <span class="span-info-small">{{term.owner.name}}</span>
                    </div>
                </div>
                <div layout="row" flex>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info" hide-xs>Fecha de creación</h3>
                        <h3 class="md-headline h3-info" hide-gt-xs>Creado</h3>
                        <span class="span-info-small">{{term.creation | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center" ng-if="term.lastUpdate">
                        <h3 class="md-headline h3-info" hide-xs>Última actualización</h3>
                        <h3 class="md-headline h3-info" hide-gt-xs>Actualizado</h3>
                        <span class="span-info-small">{{term.lastUpdate | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div layout="column" flex layout-align="center center">
                        <h3 class="md-headline h3-info">Versión</h3>
                        <span class="span-info-small">{{term.version}}</span>
                    </div>
                </div>
            </div>
        </md-toolbar>
    </div>
    <div class="scope-card" flex="100" style="margin-bottom: 3em; padding-bottom: 3em;" layout-wrap>
        <md-progress-circular class="show-hide-loader" md-mode="indeterminate" class="md-primary md-hue-1"
                              md-diameter="60" ng-show="loading">
        </md-progress-circular>
        <div layout="column" layout-gt-sm="row" flex="100">
            <div flex-gt-sm="70" flex="100" flex-order="1" flex-order-gt-sm="-1" layout-fill>
                <div style="margin-bottom: 0.5em" layout="column" flex="100" layout-fill>
                    <div ng-if="term.definition">
                        <div layout="row">
                            <md-icon>description</md-icon>
                            <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">
                                Definición
                            </md-subheader>
                        </div>
                        <md-content class="term-element">
                            {{term.definition}}
                        </md-content>
                    </div>
                    <div ng-if="term.extendedDefinition">
                        <div layout="row">
                            <md-icon>library_books</md-icon>
                            <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">
                                Definición extendida
                            </md-subheader>
                        </div>
                        <md-content class="term-element">
                            {{term.extendedDefinition}}
                        </md-content>
                    </div>

                    <!--Características adicionales-->
                    <div layout="column" flex="100" layout-fill>
                        <div layout="row" ng-if="denominations.length > 0 || examples.length > 0 || exclusions.length">
                            <md-icon flex="initial">playlist_add</md-icon>
                            <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">
                                Características adicionales
                            </md-subheader>
                        </div>

                        <div ng-if="denominations.length > 0" style="padding-left: 1.5em;">
                            <md-subheader flex="100" class="term-element-subheader md-no-sticky">
                                Denominaciones
                            </md-subheader>
                            <md-content style="padding-left: 1em">
                                <md-chips class="custom-chips" ng-model="denominations" readonly="true"
                                          layout-align="start center" layout="row" layout-xs="column"
                                          style="box-shadow: none">
                                    <md-chip-template>
                                        {{$chip.denomination}}
                                    </md-chip-template>
                                </md-chips>
                            </md-content>
                        </div>
                        <div ng-if="examples.length > 0" style="margin-bottom: 0.5em; padding-left: 1.5em" flex="100">
                            <md-subheader flex="100" class="term-element-subheader md-no-sticky">Ejemplos</md-subheader>
                            <div ng-repeat="example in examples track by $index"
                                 style="padding-left: 1em; padding-right: 1em">
                                <md-divider class="md-default-theme divider-list" ng-if="$index > 0"></md-divider>
                                <md-content class="term-element-link-list">
                                    {{example.example}}
                                </md-content>
                            </div>
                        </div>
                        <div ng-if="exclusions.length > 0" style="margin-bottom: 0.5em; padding-left: 1.5em" flex="100">
                            <md-subheader flex="100" class="term-element-subheader md-no-sticky">Exclusiones
                            </md-subheader>
                            <div ng-repeat="exclusion in exclusions track by $index"
                                 style="padding-left: 1em; padding-right: 1em">
                                <md-divider class="md-default-theme divider-list" ng-if="$index > 0"></md-divider>
                                <md-content class="term-element-link-list">
                                    {{exclusion.exclusion}}
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="(term.type.type == 2 || term.type.type == 3 || term.type.type == 4 || term.type.type == 5) && typeProperties"
                     layout="column" flex="100" style="margin-bottom: 1em" layout-fill>
                    <div ng-if="typeProperties.origin" style="padding-bottom: 0.5em">
                        <div layout="row">
                            <md-icon>filter_center_focus</md-icon>
                            <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">
                                Origen operacional
                            </md-subheader>
                        </div>
                        <div layout="row" layout-xs="column">
                            <div layout="column" layout-align="center center" flex>
                                <md-subheader class="term-element-subheader md-no-sticky">Nombre</md-subheader>
                                {{typeProperties.origin.name}}
                            </div>
                            <div ng-if="typeProperties.originCreation" layout="column" layout-align="center center"
                                 flex>
                                <md-subheader class="term-element-subheader md-no-sticky">Inicio</md-subheader>
                                {{typeProperties.originCreation | date: 'dd/MM/yyyy'}}
                            </div>
                            <div ng-if="typeProperties.originUpdate" layout="column" layout-align="center center" flex>
                                <md-subheader class="term-element-subheader md-no-sticky">Actualización</md-subheader>
                                {{typeProperties.originUpdate | date: 'dd/MM/yyyy'}}
                            </div>
                            <div ng-if="typeProperties.period" layout="column" layout-align="center center" flex>
                                <md-subheader class="term-element-subheader md-no-sticky">Frecuencia</md-subheader>
                                {{typeProperties.period}} días
                            </div>
                        </div>
                    </div>
                    <div ng-if="typeProperties.applicative" style="padding-bottom: 0.5em">
                        <div layout="row">
                            <md-icon>timeline</md-icon>
                            <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">
                                Aplicativo analítico
                            </md-subheader>
                        </div>

                        <div layout="row" layout-xs="column">
                            <div ng-if="typeProperties.applicative.name" layout="column" layout-align="center center"
                                 flex>
                                <md-subheader class="term-element-subheader">Nombre</md-subheader>
                                {{typeProperties.applicative.name}}
                            </div>
                            <div ng-if="typeProperties.applicative_denomination" layout="column"
                                 layout-align="center center" flex>
                                <md-subheader class="term-element-subheader">Denominación en el aplicativo
                                </md-subheader>
                                {{typeProperties.applicative_denomination}}
                            </div>
                        </div>
                    </div>
                    <div ng-if="typeProperties.hierarchy || typeProperties.functionalInterpretation || typeProperties.formula || typeProperties.granularity || typeProperties.link">
                        <div layout="row">
                            <md-icon>queue</md-icon>
                            <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">
                                Otras características
                            </md-subheader>
                        </div>
                        <div layout="row" layout-xs="column">
                            <div ng-if="typeProperties.hierarchy" layout="column" layout-align="center center" flex>
                                <md-subheader class="term-element-subheader md-no-sticky">Jerarquía</md-subheader>
                                <span style="text-align: center">{{typeProperties.hierarchy}}</span>
                            </div>
                            <div ng-if="typeProperties.functionalInterpretation" layout="column"
                                 layout-align="center center" flex>
                                <md-subheader class="term-element-subheader md-no-sticky">
                                    Interpretación funcional
                                </md-subheader>
                                <span style="text-align: center">{{typeProperties.functionalInterpretation}}</span>
                            </div>
                            <div ng-if="typeProperties.formula" layout="column" layout-align="center center" flex>
                                <md-subheader class="term-element-subheader md-no-sticky">Fórmula</md-subheader>
                                <span style="text-align: center">{{typeProperties.formula}}</span>
                            </div>
                            <div ng-if="typeProperties.granularity" layout="column" layout-align="center center" flex>
                                <md-subheader class="term-element-subheader md-no-sticky">Granularidad</md-subheader>
                                <span style="text-align: center">{{typeProperties.granularity}}</span>
                            </div>
                            <div ng-if="typeProperties.link" layout="column" layout-align="center center" flex>
                                <md-subheader class="term-element-subheader md-no-sticky">Link</md-subheader>
                                <span style="text-align: center">{{typeProperties.link}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div flex-gt-sm="30" flex="100" flex-order="-1" flex-order-gt-sm="1">
                <div ng-if="scope" style="margin-bottom: 0.5em">
                    <div layout="row">
                        <md-icon>business</md-icon>
                        <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">Ámbito</md-subheader>
                    </div>
                    <div class="term-link-block">
                        <a ng-href="/scopes/{{scope.idScope}}">
                            <md-content>
                                {{scope.name}}
                            </md-content>
                        </a>
                    </div>
                </div>
                <div ng-if="categories.length > 0" style="margin-bottom: 0.5em">
                    <div layout="row">
                        <md-icon>filter_none</md-icon>
                        <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">Categorías</md-subheader>
                    </div>
                    <div ng-repeat="category in categories track by $index" class="term-link-block">
                        <a ng-href="/categories/{{category.category.idCategory}}">
                            <md-content class="term-element-link-list">
                                {{category.category.name}}
                            </md-content>
                        </a>
                        <md-divider class="md-default-theme divider-list"></md-divider>
                    </div>
                </div>
                <div ng-if="indicatorDimensions.length > 0 || objectiveDimensions.length > 0"
                     style="margin-bottom: 0.5em">
                    <div layout="row">
                        <md-icon>apps</md-icon>
                        <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">Dimensiones</md-subheader>
                    </div>
                    <div ng-repeat="dimension in indicatorDimensions track by $index" class="term-link-block">
                        <a ng-href="/terms/{{dimension.dimension.idTerm}}">
                            <md-content class="term-element-link-list">
                                {{dimension.dimension.name}}<span ng-if="dimension.additivity"> (con aditividad)</span>
                            </md-content>
                        </a>
                        <md-divider class="md-default-theme divider-list"></md-divider>
                    </div>
                    <div ng-repeat="dimension in objectiveDimensions track by $index">
                        <md-divider class="md-default-theme divider-list" ng-if="$index > 0"></md-divider>
                        <a ng-href="/terms/{{dimension.dimension.idTerm}}">
                            <md-content class="term-element-link-list">
                                {{dimension.dimension.name}}<span ng-if="dimension.additivity"> (con aditividad)</span>
                            </md-content>
                        </a>
                    </div>
                </div>
                <div ng-if="asociatedIndicators.length > 0 || informIndicators.length > 0" style="margin-bottom: 0.5em">
                    <div layout="row">
                        <md-icon>insert_chart</md-icon>
                        <md-subheader class="md-no-sticky" flex="100" style="font-size:18px">Indicadores</md-subheader>
                    </div>
                    <div ng-repeat="indicator in asociatedIndicators track by $index">
                        <md-divider class="md-default-theme divider-list" ng-if="$index > 0"></md-divider>
                        <a ng-href="/terms/{{indicator.indicator.idTerm}}">
                            <md-content class="term-element-link-list">
                                {{indicator.indicator.name}}
                            </md-content>
                        </a>
                    </div>
                    <div ng-repeat="indicator in informIndicators track by $index">
                        <md-divider class="md-default-theme divider-list" ng-if="$index > 0"></md-divider>
                        <a ng-href="/terms/{{indicator.indicator.idTerm}}">
                            <md-content class="term-element-link-list">
                                {{indicator.indicator.name}}
                            </md-content>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>
<button class="material-scrolltop md-primary" type="button"></button>
<script>
    $('body').materialScrollTop();
</script>
