<md-dialog aria-label="Exportar...">
    <form ng-submit="send()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Exportar...</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label>Tipo de elemento</label>
                    <md-select ng-model="selectedType">
                        <md-option ng-repeat="term in termTypes"
                                   value="{{term.type}}">
                            {{term.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
                Cancelar
            </md-button>
            <md-button class="md-primary" type="submit">
                <md-icon class="material-icons">cloud_download</md-icon>
                Exportar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
