<md-dialog aria-label="New user">
    <form ng-submit="send()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Iniciar sesión</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ng-init="loading = false">
            <div class="md-dialog-content" layout="column">
                <md-input-container class="md-block form-input">
                    <label>Usuario</label>
                    <input ng-model="credentials.username" type="text" required>
                </md-input-container>
                <md-input-container class="md-block form-input">
                    <label>Contraseña</label>
                    <input ng-model="credentials.password" type="password" required>
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-progress-circular class="show-hide" md-mode="indeterminate" class="md-primary md-hue-1"
                                          md-diameter="40" ng-show="loading">
                    </md-progress-circular>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-primary" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
                Cancelar
            </md-button>
            <md-button class="md-primary" type="submit">
                <md-icon class="material-icons">send</md-icon>
                Enviar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
