<md-divider class="md-default-theme menu-divider"></md-divider>
<md-button class="md-button-toggle menu-group-title" ng-class="{'toggled' : isOpen()}" ng-click="open()"
           layout="row" aria-expanded="{{isOpen()}}">
    <h3 class="md-toolbar-tools menu-group-title" flex="100">
        <span>{{section.name}}</span>
    </h3>
    <md-icon class="material-icons md-toggle-icon" ng-class="{'toggled' : isOpen()}">keyboard_arrow_down</md-icon>
</md-button>
<ul ng-show="isOpen()" class="menu-toggle-list">
    <li ng-repeat="page in section.pages">
        <menu-link section="page"></menu-link>
    </li>
</ul>
